
/* COMPANY - ADVERTISEMENTS*/

.common_list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.common_list_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-bottom: 2rem;
}

.common-list-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin: 1rem;
}

.advertisement-list-topbar .search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 15rem;
  border: 1px solid var(--backgrund-color);
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  color: var(--primary-color-1);
}

.advertisement-list-topbar .search-bar input {
  border: none;
  width: 100%;
  padding: 0.5rem;
}

.common-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 7rem;
  color: var(--primary-color-1);
}

.common-filter select {
  border: 1px solid var(--backgrund-color);
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.common-list-topbar .material-symbols-rounded {
  fill: 1;
  color: #f17300;
}
.common-list-topbar .material-symbols-rounded {
  fill: 1;
  color: #f17300;
}

.common_list_content {
  width: 100%;
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;
}

.common_list_content table {
  font-size: 0.9rem;
  width: 90%;
  margin-left: 3rem;
  text-align: center;
  table-layout: fixed;
  word-wrap: normal;
}

.common_list_content table th {
  height: 2rem;
  background-color: #d9d9d9;
  padding: 0.5rem;
}

.common_list_content table td {
  padding: 0.3rem;
}

/* .common_list_content table th:nth-child(1) {
  width: 40%;
}

.common_list_content table th:nth-child(3) {
  width: 20%;
} */

.viewBtn {
  padding: 0.2rem 1rem;
  background-color: transparent;
  border-radius: 5px;
  border: solid 1px var(--primaryColor);
  color: var(--primaryColor);
}

.viewBtn:hover {
  background-color: var(--primaryColor);
  cursor: pointer;
  color: #fff;
}
.deleteBtn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}

.addBtn a,
.addBtn button {
  margin: 0;
  color: #fff;
  text-decoration: none;
  padding: 0.3rem 1.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}



/*end of advertisement page*/

/*start of add advertisement page*/


.add_advertisement {
  margin: auto;
  text-align: center;
  width: 60%;
}
.add_advertisement form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* display: inline-block; */
  padding: 3rem;
  border-radius: 8px;
  /* margin-left: auto;
    margin-right: auto; */
  text-align: left;
}
.add_advertisement form input,
.add_advertisement form select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--AlternateLightGrey);
  width: 70%;
}
.add-req-btn{
  background: transparent;
  display:none;
}
.add_advertisement form input[type="checkbox"] {
  border: 1px solid var(--AlternateLightGrey);
}

.add_advertisement .time_period {
  display: flex;
  gap: 2rem;
}
.addAdvertisement-items {
  font-size: 0.9rem;
}

.add_advertisement .addAdvertisement-items ul li input {
  width: auto;
}
.add_advertisement .addAdvertisement-items ul li {
  display: flex;
  gap: 1rem;
}

.add_advertisement .addBtn {
  margin: auto;
  margin-top: 1rem;
}

.add_advertisement .addAdvertisement-items {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  gap: 0.5rem;
}

.add_advertisement form h3 {
  margin-bottom: 1rem;
  text-align: center;
  color: #054a91;
}

/*profile view css*/
.profile-main-container {
  justify-content: center;
  width: 80%;
  margin: auto;
  display: flex;
  padding: 1rem 3rem;
}

.profile-left-top {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.profileImg {
  width: 10rem;
  height: 10rem;
  border: 1px solid #000;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem;
}

.profile-left {
  width: 50%;
  padding: 2rem 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-right {
  width: 40%;
}

.orange-text {
  color: var(--primaryColor);
}

.profile-left-text {
  padding-left: 1rem;
}
.profile-left-text h1 {
  margin: 1rem 0;
}
.profile-bottom {
  display: flex;
  margin-top: 5rem;
  padding: 0 1rem;
 flex-wrap:wrap;
 justify-content: space-between;
}

#company-edit-btn{
  padding: 0.5rem;
  margin-left: none;
}
.profile-right {
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1.1rem;
  text-align: justify;
  background: linear-gradient(
    90deg,
    rgba(62, 124, 177, 1) 0%,
    rgba(5, 74, 145, 1) 100%
  );
  color: #fff;

  padding: 0 4rem;
}
.profile-btn {
  padding: 0.5rem 2rem;
  outline: none;
}

/*edit profile page*/

.edit-profile-main-container{
  width: 65%;
  margin: auto;
  padding: 1rem 3rem;
}
.edit-company-Profile{
  margin:0;
 width: 90%;
 padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
/*student request page */
.student-req-action {
  border: 1px solid var(--primaryColor);
}
.none {
  color: var(--primaryColor);
}
.shortlist-op {
  border: 1px solid blue;
  color: blue;
}

/*company dashboard view*/

.company-top-notif {
  width: 100%;
  margin: 1rem;
  padding: 0.5rem;
  background: linear-gradient(
    90deg,
    rgba(241, 115, 0, 1) 0%,
    rgba(234, 168, 70, 1) 100%
  );
  color: #fff;
  border-radius: 0.3rem;
}

.company-dashboard-top {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
}

.company-dashboard-box {
  width: 40%;
  height: 2rem;
  padding-right: 0.2rem;
  color: var(--DarkBlue);
  background: #fff;
  font-weight: 800;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
}
.company-dashboard-box div {
  display: flex;
  gap: 0.5rem;
}
.company-dashboard-box p {
  align-self: center;
  font-weight: 600;
}
.blue-line {
  width: 0.5rem;
  height: 100%;
  background: var(--DarkBlue);
  border-radius: 0.3rem 0 0 0.3rem;
}

.common-table {
  width: 90%;
}
#company-dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#company-dashboard .common_list_content {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#company-dashboard table {
  word-break: normal;
  word-wrap: normal;
  width: 100%;
}
#company-dashboard .common-list-topbar {
  padding: 0 1rem;
}

#company-dashboard .common-blue-btn {
  padding: 0.3rem 1rem;
  align-self: flex-end;
  position: absolute;
  right: 3rem;
  bottom: 1rem;
}

#advertisement-list .common-table th:nth-child(5),
#advertisement-list .common-table th:nth-child(6) {
  background: transparent;
  width: 3rem;
}


/*Schedule Interview Page 1 */

.scheduleBtn a{
  margin: 0;
  color: #fff;
  text-decoration: none;
  padding: 0.3rem 1.5rem;
  background-color: var(--DarkBlue);

}

/*----------------------- MAIN Profile Update Page -----------------------*/

.update-profile-container {
  padding: 2rem;
  width: 50%;
  margin: auto;
  gap: 1rem;
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

.update-profile-container h3 {
  text-align: left;
}

.update-profile-container img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.update-profile-container form input {
  width: 90%;
}

.update-profile-container form ul {
  width: 100%;
  margin: auto;
  font-size: 0.9rem;
}
.update-profile-container form li {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 95%;
  margin-top: 1rem;
}

.update-profile-container form li label {
  width: 25%;
}

.update-profile-container-btn {
  display: flex;
  width: fit-content;
  margin: auto;
  gap: 2rem;
  margin-top: 1.5rem;
}

.update-profile-container-btn button {
  padding: 0.5rem;
}

.main-user-profile-icon div {
  position: relative;
  align-items: center;
  display: flex;
  width: 120px;
  justify-content: center;
  margin: auto;
}

.main-user-profile-icon #main-profile-edit {
  background-color: var(--BackgroungColor );;
  color: var(--Black);
  padding: 0.2rem 0.5rem;
  margin-top: 0.5rem;
  border-radius: 3px;
  font-size: 0.9rem;
  align-items: center;
  gap: 0.3rem;
  box-shadow: var(--Boxshadow1);
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.main-user-profile-icon #main-profile-edit:hover{
  background-color: var(--DarkBlue);
  color: white;
}

.main-user-profile-icon #main-profile-edit span {
  font-size: 1.1rem;
}

.update-profile-container form input {
  padding: 0.5rem;
}

.update-profile-container input[type=file]{
  display: none;
}

.update-profile-container #form-file-name {
  margin-top: 0.8rem;
  font-size: 0.8rem;
}

.update-profile-container #reset-btn {
  background-color: var(--primaryColor);
} 

.update-profile-container #go-to-profile-btn{
  color:var(--primaryColor);
  background-color: var(--BackgroungColor);
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.update-profile-container #go-to-profile-btn:hover{
  background-color: #dadada;
}

/* Create Interview Schedule Page */


.dowtable{
  width:30%;
  border-spacing: 0.5rem;
}

.dowtable td{
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--DarkBlue);
}
.create-sche-main-container {
  position: relative;
  width: 55%;
  margin: auto;
  display: flex;
  padding: 1rem 3rem;
  padding-bottom: 5rem;
  background: #FFF;

  display:flex;
  flex-direction: column;
  gap: 2rem;

}

.create-sche-top{
  justify-content: space-between;
}

.create-sche-top h1{
  font-size: 1.2em;
}

.duration-divs{
  display: flex;
  justify-content: space-between;

}

.dowPickerOption {
  display: inline-block;
}

.dowPickerOption input[type=checkbox] {
  display: none;
}
.dowPickerOption label {
font-size: 1em;
color: #A7A7A7;
cursor: pointer;
}
.dowPickerOption input[type=checkbox]:checked ~ label {
color: #464646;
font-weight: 500;
}
.time-slot-table{
  border-spacing: 0.5rem;
}
.time-slot-table .slot{
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--DarkBlue);
  color: var(--DarkBlue);
}

.time-slot-table td div{
  display: inline-block;
}
.create-sche-bottom{
  display: flex;
  justify-content: space-between;
}

.time-period{
  display: flex;
  gap: 1rem;
}

.add-slot-btn{
  margin-bottom: 1rem;
  border-radius: 8px;
  padding: 0.5rem 0.2rem;
  color: var(--primaryColor);
  border: solid 1px;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.saveBtn{
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}

#Interviewee_count{
  width: 2rem;
}

.sche-inputs{
  justify-content: space-between;
}

.sche-inputs input{
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--DarkBlue);
}

/* view schedule page*/

.collapsible {
  background-color: var(--DarkBlue);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
  margin-bottom: -2rem;
}

.active, .collapsible:hover {
  background-color: var(--LightBlue);
}

.content {
  padding: 0 1rem;
  max-height: 0rem;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content table{
  border-spacing: 1rem;
}
.content table td a{
  padding: 0.5rem;
}

/* view advertisement page */

.advertisement-main-container{
  width: 70%;
  background: #fff;
  margin: auto;
  padding: 1rem 2rem;
  padding-bottom: 4rem;
  position: relative;
}

#addreq{
  background: none;
  outline: none;
  border: none;
  width: fit-content;
}

.addreqs{
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.addAdvertisement-items #requirements{
  width: 100%;
}

/* .addAdvertisement-items ul{
  list-style-type: disc;
} */

#dot-icon{
  font-variation-settings:
  'FILL' 1
}

.ucsc-logo{
  width: 5%;
}

.internarc-logo{
  width: 10%;
}

.ad-header-top{
  justify-content: center;
}

.ad-header-bottom{
  align-items: center;
}

.advertisement-container-body{
  background: linear-gradient(269.96deg, #3e7cb1 5.25%, #054a91 88.31%);
    padding: 2rem;
    position: relative;
    border-radius: 5px;
}

.advertisement-container-body .body-left{
  width: 50%;
}

.advertisement-container-body .body-left ul{
  width: 100%;
  gap: 1rem;
}
.advertisement-container-body .body-left ul li,
.advertisement-container-body .body-right .job-description h3
{
  color: white;
  gap: 1rem;
}
.advertisement-container-body .body-left li p{
  color: white;
  width: 10rem;
}

.advertisement-container-body .body-left li span {
  width: 12rem;
  padding: 0.8rem;
  color: white;
  background: #eeeeee5b;
  border-radius: 10px;
}

.advertisement-container-body .body-left li .period-items{
  gap: 1rem;

}

.advertisement-container-body .body-right{
  width: 50%;
  gap: 2rem;
  margin-left: 4rem;
}

.advertisement-container-body .body-right .job-description div{
  background-color: #eeeeee5b;
  width: 80%;
  padding: 1rem;
  color: white;
  border-radius: 10px;
  padding: 1rem;
}

.apply-btn{
  padding: 0.5rem 2rem;
  margin: 1rem;
  position: absolute;
  right: 1rem;
  background: var(--primaryColor);
  
}

#company-dashboard table td:nth-child(5){
  padding: 0.5rem 1rem;
}

#request-list table td:nth-child(4){
<<<<<<< HEAD
  padding: 0.5rem 3rem;
}

/* Scheduling UI */

#form-content{
  padding: 2rem;
}

.create-interview-form{
  background-color:#fff
}

.create-interview-form div{
  margin: 0 2rem; 
}

.create-interview-form button{
  margin-top: 1rem;
}

/* scheduling */

.create-interview-form{
  display: none;
  position: absolute;
  top: 30%;
  left: 40%;
  padding: 1rem 0.5rem;
  z-index: 10;
  border-radius: 8px;

}

.create-interview-form div{
  margin: 1rem 0.5rem;
}

.create-interview-form .common-blue-btn{
  padding: 0.5rem;
  margin: 0 40%;
}

/* .hidden{
  display: none;
} */
=======
  padding: 0.5rem 1rem;
}
>>>>>>> 595378f3c75a864297d96b77aaf8c153de66146f
