/*-----------------------  Sign in Page - PDC ----------------------- */

.signin-main-container {
  margin: auto;
  margin-top: 5%;
  width: 30%;
  gap: 1rem;
  padding: 3% 3% 4% 3%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid var(--DarkBlue);
  align-items: center;
}

.signin-main-container img {
  width: 50%;
  object-fit: cover;
}

.signin-main-container form {
  gap: 1.5rem;
  justify-content: space-around;
  width: 100%;
  padding: 0 8%;
  text-align: left;
  align-items: center;
}

.signin-main-container form h2 {
  color: var(--DarkBlue);
}

.signin-form-content {
  flex-direction: row;
  gap: 0.2rem;
  border: 1px solid var(--AlternateLightGrey);
  width: 100%;
  padding: 0.3rem;
  border-radius: 5px;
  align-items: center;
}

.signin-main-container form input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.signin-main-container form button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 20px;
  transition: ease-in-out 0.2s;
  font-size: 1rem;
}

.signin-main-container form button:hover {
  transform: scale(1.02);
}

.signin-error-hide {
  display: none;
}

.signin-error-alert {
  color: var(--DangerColor);
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
  align-items: center;
  width: fit-content;
  align-self: flex-start;
  margin-top: -1rem;
}

/*-----------------------  Job Roles List Page PDC ----------------------- */

#pdc_jobroles_page {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

#pdc_jobroles_page .jobroles-quickAdd,
#pdc_jobroles_page .jobroles-rolesList {
  background-color: white;
  width: 40%;
  border-radius: 5px;
  box-shadow: var(--Boxshadow1);
  padding: 3rem 2rem;
}

#pdc_jobroles_page .jobroles-quickAdd form {
  gap: 1rem;
  margin-top: 1.5rem;
}

.jobroles-quickAdd {
  gap: 2.5rem;
  height: fit-content;
  height: 75%;
}

#pdc_jobroles_page h3 {
  text-align: center;
}

.jobroles-quickAdd label {
  display: block;
  margin-bottom: 0.5rem;
}

.jobroles-quickAdd input {
  width: 100%;
}

.jobroles-quickAdd button {
  width: 60%;
  margin-top: 2rem;
  padding: 0.7rem 0.9rem;
}

.jobroles-rolesList {
  height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
}

.jobroles-rolesList table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  border-collapse: collapse;
}

.jobroles-rolesList table td:nth-child(1) {
  width: 70%;
}

.jobroles-rolesList table td:nth-child(2),
.jobroles-rolesList table td:nth-child(3) {
  width: fit-content;
}

.jobroles-rolesList table td {
  padding: 0.3rem;
}

/* .jobroles-modal-box{
  display: none;
} */

#jobroles-modal-box form {
  width: 30%;
}

#jobroles-modal-box label {
  padding-bottom: 0.8rem;
}

/* -----------------------  Manage Company Page ----------------------- */

.manage-company-top {
  width: 80%;
  gap: 1rem;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: var(--Boxshadow1);
  justify-content: space-between;
}

.manage-company-top-left,
.manage-company-top-right,
.manage-company-access {
  gap: 1rem;
}

.manage-company-top button,
.manage-company-top-right a {
  padding: 0.3rem 1rem;
  margin: 0;
}

.manage-company-top-right a {
  gap: 0.5rem;
}

.manage-company-top-right span {
  font-size: 1.2rem;
}

.manage-company-top-right #blacklist-company-btn {
  background-color: var(--primaryColor);
}

.company-content-container {
  width: 100%;
  margin-top: 1rem;
  background-color: white;
  box-shadow: var(--Boxshadow1);
  padding: 1.5rem 2rem;
  height: 82%;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 5px;
}

.company-content-top {
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.manage-company-table {
  overflow: hidden;
  overflow-y: auto;
}

.company-content-container table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.company-content-container table #action-th {
  background-color: white;
}

.company-content-container table th,
.student-batches-table table th {
  border-top: none;
  position: sticky;
  border-right: 2px solid white;
  top: 0;
  font-weight: 500;
  padding: 0.5rem;
  background-color: var(--AlternateLightGrey);
  border-bottom: 10px solid white;
}

.company-content-container table td {
  padding: 0.5rem;
  width: 200px;
}

.company-content-container table td:nth-child(5) {
  width: 8%;
  padding: 0 1.5rem;
}

.company-content-container table a,
.student-batches-btn {
  border: 1px solid var(--primaryColor);
  padding: 0.1rem 1rem;
  border-radius: 5px;
  color: var(--primaryColor);
  transition: ease-in-out 50ms;
}

.company-content-container table a:hover,
.student-batches-btn:hover {
  background-color: var(--primaryColor);
  color: white;
}

/*-----------------------  Manage Company - Add Company Page ----------------------- */

.add-company-container {
  gap: 3rem;
  justify-content: center;
  position: relative;
}

.register-company,
.csv-company {
  background-color: white;
  width: 40%;
  height: 75vh;
  padding: 2rem 3rem;
  border-radius: 5px;
}

.register-company h2,
.csv-company h2 {
  text-align: center;
  font-size: 1.1rem;
}

.register-company,
.csv-company,
.csv-company-middle,
.register-company form,
.register-company form ul {
  gap: 1.5rem;
}

.register-company form button {
  padding: 0.4rem 2rem;
  margin-top: 0.5rem;
}

.register-company-item {
  gap: 1rem;
}

.register-company-item label {
  width: 40%;
}

.csv-instructions {
  align-items: center;
  gap: 0.5rem;
  color: var(--primaryColor);
  font-weight: 500;
}

.csv-company-middle a {
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  justify-content: center;
  color: var(--primaryColor);
  font-weight: 500;
  transition: ease-in-out 100ms;
}

.csv-company-middle a:hover {
  background-color: var(--primaryColor);
  color: white;
}

.csv-company-bottom {
  align-items: center;
  width: 100%;
  background-color: rgb(248, 248, 248);
  padding: 1rem;
  border-radius: 5px;
  border: 1.8px dashed #d9d9d9;
}

.csv-company-bottom form {
  text-align: center;
  gap: 1.5rem;
}

.csv-company-bottom form input {
  display: none;
}

.csv-company-bottom form label {
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  width: fit-content;
  margin: auto;
  background-color: #424242;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.csv-company-bottom button {
  width: fit-content;
  padding: 0.4rem 2rem;
}

/*-----------------------  Manage Student - Student List Page ----------------------- */

.student-list-container {
  width: 90%;
  height: 78vh;
  margin: auto;
  margin-top: 1rem;
}

.student-list-container table th:nth-child(2) {
  width: 30%;
}

.student-list-container table th:nth-child(4) {
  width: 15%;
}

/*Manage Student - Add student Page*/
.register-student-top {
  justify-content: flex-start;
  margin-bottom: 1rem;
  margin-left: 5.3rem;
}
.register-student-top div {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  gap: 1rem;
  width: fit-content;
}

.register-student-top div p {
  color: var(--primaryColor);
}

.add-student-container .register-company,
.add-student-container .csv-company {
  height: 73vh;
}

/*----------------------- Manage Student - Landing Page -----------------------*/

.student-batches-container {
  background-color: white;
  width: 90%;
  padding: 2rem;
  height: 90%;
  gap: 1rem;
  border-radius: 5px;
}

.student-batches-top {
  justify-content: space-between;
}

.student-batches-top a {
  margin: 0;
  padding: 0.4rem 1.2rem;
  gap: 0.5rem;
}

.student-batches-container table {
  width: 100%;
  border-collapse: collapse;
}

.student-batches-container table th:nth-child(6) {
  background-color: white;
  width: 20%;
}

.student-batches-container table th:nth-child(5) {
  width: 12%;
  background-color: white;
}

.student-batches-table {
  overflow: hidden;
  text-align: center;
  overflow-y: auto;
}

.student-batches-table td .common-status {
  width: fit-content;
  margin: auto;
}

.student-batches-table td {
  padding: 0.5rem;
}

.student-batches-table td button {
  padding: 0.2rem 1rem;
  border: none;
  background-color: var(--primaryColor);
  border-radius: 5px;
}

.student-batches-table td button a {
  color: white;
}

.student-batches-table thead span {
  text-align: center;
}

table th {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.student-batch-status div {
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
}

.student-batch-status div span {
  font-size: 1.1rem;
  cursor: pointer;
}

/*----------------------- Dashboard -----------------------*/
.dashboard-topbar {
  background: linear-gradient(270deg, #eaa846 13.46%, #f17300 79.67%);
  padding: 0.2rem 2rem;
  justify-content: space-between;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
}

.dash-top-right a {
  gap: 0.5rem;
  color: white;
}

.dashboard-topbar-btns {
  justify-content: flex-end;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.dashboard-topbar-btns a {
  padding: 0.3rem 0.5rem;
  gap: 0.5rem;
  align-items: center;
  margin: 0;
  border-radius: 5px;
}

.dashboard-topbar-btns .send-invitation {
  background-color: var(--BackgroungColor);
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.dashboard-cards {
  justify-content: center;
  gap: 3rem;
  margin-top: 1.5rem;
}

.dashboard-cards div {
  overflow: hidden;
  width: 35%;
  background-color: white;
  padding: 0.8rem;
  padding-left: 1.5rem;
  border-radius: 5px;
  position: relative;
  gap: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dashboard-cards div span {
  background-color: var(--DarkBlue);
  width: 0.7rem;
  height: 100%;
  position: absolute;
  left: 0;
}

.dashboard-cards .dashboard-card-item {
  width: 75%;
}

.dashboard-cards .dashboard-card-total {
  font-size: 1rem;
  color: var(--DarkBlue);
}

.dashboard-advertisement-list {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 5px;
  overflow-y: auto;
  height: 66%;
}

.dashboard-advertisement-list .list-top {
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dashboard-advertisement-list .list-body {
  padding: 1rem;
}

.dashboard-advertisement-list table {
  width: 100%;
  overflow: hidden;
}

.dashboard-advertisement-list table td {
  padding: 0.5rem;
}

.dashboard-advertisement-list table td:nth-child(4) {
  width: 10%;
}

.dashboard-advertisement-list table td:nth-child(5) {
  width: 15%;
  text-align: center;
}

.dashboard-advertisement-list table a {
  padding: 0.2rem 1.5rem;
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  border-radius: 5px;
  font-size: 0.85rem;
}

.dashboard-advertisement-list table a:hover {
  background-color: var(--primaryColor);
  color: white;
}

/*----------------------- Invitation Page -----------------------*/

.company-invitation-container {
  background-color: white;
  padding: 2rem;
  width: 60%;
  border-radius: 5px;
  gap: 3rem;
  margin-top: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.company-invitation-container .invitation-body ul {
  gap: 1.5rem;
}

.company-invitation-container .invitation-body li label {
  width: 30%;
}

.company-invitation-container #invitation-mail-subject,
.company-invitation-container #invitation-mail-body {
  width: 70%;
  resize: none;
}

.company-invitation-container .invitation-body button {
  padding: 0.3rem 1.5rem;
  margin: auto;
  gap: 0.3rem;
}

/*----------------------- Invitation - SET ROUND MODAL -----------------------*/

#set-round-modal-box form,
#set-round-modal-box ul {
  gap: 2rem;
}

#set-round-modal-box li {
  gap: 1rem;
}

#set-round-modal-box .date-period {
  gap: 0.5rem;
}

#set-round-modal-box button {
  width: 80%;
  margin: auto;
}

/*----------------------- Invitation Page -----------------------*/

.company-details-main-container {
  height: 75%;
}

.company-details-container {
  background-color: white;
  width: 50%;
  padding: 2rem;
  border-radius: 5px;
  gap: 1rem;
  height: 100%;
}

.company-details-container .container-top {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}
.company-details-container .container-body ul {
  gap: 1rem;
}

.container-top-update div {
  padding: 0.5rem;
}

.company-details-container .container-body li label {
  width: 35%;
}

.company-details-container .container-body li input {
  width: 80%;
  background-color: var(--BackgroungColor);
}

.company-details-container .container-body button {
  padding: 0.4rem 2rem;
  margin-top: 1rem;
  background-color: var(--primaryColor);
}

.company-details-container .container-btns {
  justify-content: space-around;
  margin-top: 1rem;
}

.company-details-container .container-btns button {
  padding: 0.2rem 1rem;
  height: 2rem;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
}

.company-details-container .container-btns #view-btn {
  background-color: var(--DarkBlue);
  color: white;
}
.company-details-container .container-btns #delete-btn {
  background-color: var(--DangerColor);
  color: white;
}

.company-details-container .container-btns #blacklist-btn {
  background-color: var(--DangerColor);
  color: white;
}

.company-details-container #toggleUpdateBtn {
  display: none;
  margin: auto;
  transition: ease-in-out 0.2s;
}

.company-details-analysis {
  width: 40%;
  margin-left: 2rem;
  gap: 2rem;
  min-height: 20rem;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
}

.company-details-analysis .analysis-items,
.company-details-analysis .analysis-items div {
  gap: 1.5rem;
}

.company-details-analysis .analysis-items div p {
  width: 70%;
}

/*----------------------- Student Request Page -----------------------*/

.student-request-container {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  height: 95%;
  padding: 1.5rem;
}

.student-request-container .student-request-top {
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}

.student-request-body {
  gap: 1rem;
  height: 95%;
  overflow-y: auto;
}

.student-requests-box {
  gap: 1rem;
  width: 50%;
  background-color: var(--BackgroungColor);
  padding: 1rem;
  height: 95%;
  border-radius: 5px;
  overflow-y: auto;
}

.student-requests-box .container-top {
  justify-content: space-between;
}

.student-request-body .common-filter {
  justify-content: flex-end;
  width: 100%;
}

.student-request-body .student-list td {
  padding: 0.2rem;
}

.student-request-body .student-list a {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  padding: 0.1rem 1rem;
  border-radius: 5px;
}

.student-request-body .student-list .common-status {
  width: 7rem;
}

/*----------------------- Student Request Page -----------------------*/

/* #student-main-profile{
  height: auto;
  overflow-y: auto;
} */

.student-profile-view {
  width: 90%;
  overflow: auto;
  border-radius: 5px;
}

.student-profile-view .std-profile-container-top {
  background-color: white;
  justify-content: right;
  padding: 2rem;
  padding-bottom: 3.5rem;
}

.student-profile-view .std-profile-container-body {
  background: linear-gradient(269.96deg, #3e7cb1 5.25%, #054a91 88.31%);
  padding: 2rem;
  position: relative;
}

.student-profile-bio {
  justify-content: right;
  width: 100%;
}

.student-profile-bio div {
  width: 50%;
  text-align: justify;
}

.student-profile-bio span {
  color: var(--primaryColor);
}

.std-profile-container-body {
  align-items: flex-start;
}

.std-profile-container-body .body-left {
  padding-top: 8rem;
  width: 50%;
}

.std-profile-container-body .body-left span {
  background: #eeeeee5b;
  padding: 0.2rem 0.8rem;
  border-radius: 10px;
}

.std-profile-container-body .body-left p,
.std-profile-container-body h3 {
  color: white;
}

.std-profile-container-body .body-left ul {
  gap: 1rem;
  width: 100%;
}

.std-profile-container-body .body-left li {
  gap: 1rem;
}

.std-profile-container-body .body-left li p {
  width: 10rem;
}

.std-profile-container-body .body-left li span {
  width: 12rem;
  padding: 0.8rem;
  color: white;
}

.std-profile-container-body .interested-areas .interested-area-items {
  justify-content: space-around;
  gap: 1rem;
}

.std-profile-container-body .interested-areas span {
  width: 8rem;
  text-align: center;
}

.std-profile-container-body .extra-curricular div {
  background: #eeeeee5b;
  width: 75%;
  padding: 1rem;
  border-radius: 10px;
  color: white;
}

.std-profile-container-body .body-right {
  width: 50%;
  gap: 2rem;
  margin-left: 4rem;
}

.std-profile-container-body .student-experience {
  width: 100%;
}

.std-profile-container-body .student-experience div {
  background-color: #eeeeee5b;
  width: 80%;
  padding: 1rem;
  color: white;
  border-radius: 10px;
  margin-top: 1rem;
}

.std-profile-container-body .student-experience .experience-items {
  gap: 0.5rem;
}

.std-profile-container-body .student-qualifications {
  gap: 1rem;
}

.student-profile-view .std-profile-container-bottom {
  background: linear-gradient(270deg, #eaa846 4.01%, #f17300 95.01%);
  padding: 0.3rem 1rem;
}

.std-profile-container-bottom {
  justify-content: space-between;
}

.std-profile-container-bottom img {
  color: #ffffff;
  width: 25px;
}

.std-profile-container-bottom .bottom-left {
  gap: 1rem;
}

.std-profile-container-bottom .bottom-left div {
  gap: 0.3rem;
  color: white;
}

.std-profile-container-bottom .bottom-right a {
  gap: 0.5rem;
  color: var(--primaryColor);
  background-color: white;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  font-size: 0.85rem;
  font-weight: 500;
}

.std-profile-container-body .std-profile-image img {
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  left: 2.5rem;
  top: -8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
