/* Sign in Page - PDC*/

.signin-main-container {
  margin: auto;
  margin-top: 5%;
  width: 30%;
  gap: 1rem;
  padding: 3% 3% 4% 3%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid var(--DarkBlue);
  align-items: center;
}

.signin-main-container img {
  width: 50%;
  object-fit: cover;
}

.signin-main-container form {
  gap: 1.5rem;
  justify-content: space-around;
  width: 100%;
  padding: 0 8%;
  text-align: left;
  align-items: center;
}

.signin-main-container form h2 {
  color: var(--DarkBlue);
}

.signin-form-content {
  flex-direction: row;
  gap: 0.2rem;
  border: 1px solid var(--AlternateLightGrey);
  width: 100%;
  padding: 0.3rem;
  border-radius: 5px;
  align-items: center;
}

.signin-main-container form input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.signin-main-container form button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 20px;
  transition: ease-in-out 0.2s;
  font-size: 1rem;
}

.signin-main-container form button:hover {
  transform: scale(1.02);
}

.signin-error-hide {
  display: none;
}

.signin-error-alert {
  color: var(--DangerColor);
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
  align-items: center;
  width: fit-content;
  align-self: flex-start;
  margin-top: -1rem;
}

/* Job Roles List Page PDC*/

#pdc_jobroles_page {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

#pdc_jobroles_page .jobroles-quickAdd,
#pdc_jobroles_page .jobroles-rolesList {
  background-color: white;
  width: 40%;
  border-radius: 5px;
  box-shadow: var(--Boxshadow1);
  padding: 3rem 2rem;
}

#pdc_jobroles_page .jobroles-quickAdd form {
  gap: 1rem;
  margin-top: 1.5rem;
}

.jobroles-quickAdd {
  gap: 2.5rem;
  height: fit-content;
  height: 70vh;
}

#pdc_jobroles_page h3 {
  text-align: center;
}

.jobroles-quickAdd label {
  display: block;
  margin-bottom: 0.5rem;
}

.jobroles-quickAdd input {
  width: 100%;
}

.jobroles-quickAdd button {
  width: 60%;
  margin-top: 2rem;
  padding: 0.7rem 0.9rem;
}

.jobroles-rolesList {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.jobroles-rolesList table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  border-collapse: collapse;
}

.jobroles-rolesList table td:nth-child(1) {
  width: 70%;
}

.jobroles-rolesList table td:nth-child(2),
.jobroles-rolesList table td:nth-child(3) {
  width: fit-content;
}

.jobroles-rolesList table td {
  padding: 0.3rem;
}

/* .jobroles-modal-box{
  display: none;
} */

.jobroles-modal-box form {
  margin: auto;
  width: 30%;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
}

.jobroles-modal-box label {
  padding-bottom: 0.8rem;
}

.jobroles-modal-box a {
  right: -10rem;
}

.jobroles-modal-box form button {
  margin-top: 1.5rem;
  padding: 0.3rem 1rem;
}

/*Manage Company Page*/

.manage-company-top {
  width: 80%;
  gap: 1rem;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: auto;
  box-shadow: var(--Boxshadow1);
  justify-content: space-between;
}

.manage-company-top-left {
  gap: 1rem;
}

.manage-company-access {
  gap: 1rem;
}

.manage-company-top button,
.manage-company-top-right a {
  padding: 0.3rem 1rem;
  margin: 0;
}

.manage-company-top-right {
  gap: 1rem;
}

.manage-company-top-right a {
  gap: 0.5rem;
}

.manage-company-top-right span {
  font-size: 1.2rem;
}

.manage-company-top-right #blacklist-company-btn {
  background-color: var(--primaryColor);
}

.company-content-container {
  width: 100%;
  margin-top: 1rem;
  background-color: white;
  box-shadow: var(--Boxshadow1);
  padding: 1.5rem 2rem;
  height: 68vh;
  overflow: hidden;
  overflow-y: scroll;
}

.company-content-top {
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.manage-company-table {
  overflow: hidden;
  overflow-y: scroll;
}

.company-content-container table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.company-content-container table #action-th {
  background-color: white;
}

.company-content-container table th {
  border-top: none;
  position: sticky;
  border-right: 2px solid white;
  top: 0;
  font-weight: 600;
  padding: 0.5rem;
  background-color: var(--AlternateLightGrey);
}

.company-content-container table td {
  padding: 0.5rem;
  width: 200px;
}

.company-content-container table td:nth-child(5) {
  width: 8%;
}

.company-content-container table a {
  border: 1px solid var(--primaryColor);
  padding: 0.1rem 1rem;
  border-radius: 5px;
  color: var(--primaryColor);
  transition: ease-in-out 50ms;
}

.company-content-container table a:hover {
  background-color: var(--primaryColor);
  color: white;
}

/*Manage Company - Add Company Page*/

.add-company-container {
  gap: 3rem;
  justify-content: center;
  position: relative;
  top: -1.5rem;
}

.register-company,
.csv-company {
  background-color: white;
  width: 40%;
  height: 75vh;
  padding: 2rem 3rem;
  border-radius: 5px;
}

.register-company h2,
.csv-company h2 {
  text-align: center;
}

.register-company {
  gap: 2rem;
}

.register-company form,
.register-company form ul {
  gap: 1.5rem;
}

.register-company form button {
  padding: 0.5rem 2rem;
  margin-top: 0.5rem;
}

.register-company-item {
 gap: 1rem;
}

.register-company-item label {
  width: 40%;
}

.csv-company {
  gap: 2rem;
}
.csv-company-middle {
  gap: 1.5rem;
}

.csv-instructions {
  align-items: center;
  gap: 0.5rem;
  color: var(--primaryColor);
  font-weight: 500;
}



.csv-company-middle a {
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  justify-content: center;
  color: var(--primaryColor);
  font-weight: 500;
  transition: ease-in-out 100ms;
}

.csv-company-middle a:hover{
background-color: var(--primaryColor);
color: white;
}

.csv-company-bottom {
  align-items: center;
  width: 100%;
  background-color: rgb(248, 248, 248);
  padding: 1rem;
  border-radius: 5px;
  border: 1.8px dashed #d9d9d9;
}

.csv-company-bottom form {
  text-align: center;
  gap:1.5rem;
}

.csv-company-bottom form input{
display: none;
}

.csv-company-bottom form label{
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  width: fit-content;
  margin: auto;
  background-color: #424242;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}


.csv-company-bottom button {
  width: fit-content;
  padding: 0.5rem 2rem;
}
