/*-----------------------  Common Styles  ----------------------- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*-----------------------  Job Roles List Page PDC ----------------------- */

#pdc_jobroles_page {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

#pdc_jobroles_page .jobroles-quickAdd,
#pdc_jobroles_page .jobroles-rolesList {
  background-color: white;
  width: 40%;
  border-radius: 5px;
  box-shadow: var(--Boxshadow1);
  padding: 3rem 2rem;
}

#pdc_jobroles_page .jobroles-quickAdd form {
  gap: 1rem;
  margin-top: 1.5rem;
}

.jobroles-quickAdd {
  gap: 2.5rem;
  height: fit-content;
  height: 75%;
}

#pdc_jobroles_page h3 {
  text-align: center;
}

.jobroles-quickAdd label {
  display: block;
  margin-bottom: 0.5rem;
}

.jobroles-quickAdd input {
  width: 100%;
}

.jobroles-quickAdd button {
  width: 60%;
  margin-top: 2rem;
  padding: 0.7rem 0.9rem;
}

.jobroles-rolesList {
  height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
}

.jobroles-rolesList table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  border-collapse: collapse;
}

.jobroles-rolesList table td:nth-child(1) {
  width: 70%;
}

.jobroles-rolesList table td:nth-child(2),
.jobroles-rolesList table td:nth-child(3) {
  width: fit-content;
}

.jobroles-rolesList table td {
  padding: 0.3rem;
}

/* .jobroles-modal-box{
  display: none;
} */

#jobroles-modal-box form {
  width: 30%;
}

#jobroles-modal-box label {
  padding-bottom: 0.8rem;
}

/* -----------------------  Manage Company Page ----------------------- */

.manage-company-top {
  width: 80%;
  gap: 1rem;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: var(--Boxshadow1);
  justify-content: space-between;
}

.manage-company-top-left {
  padding-right: 1rem;
  border-right: 2px solid rgb(197, 185, 185);
}

.manage-company-top-left,
.manage-company-top-right,
.manage-company-access {
  gap: 1rem;
}

.manage-company-top button a {
  color: white;
}

.manage-company-top button,
.manage-company-top-right a {
  padding: 0.3rem 1rem;
  margin: 0;
}

.manage-company-top-right a {
  gap: 0.5rem;
}

.manage-company-top-right span {
  font-size: 1.2rem;
}

.manage-company-top-right #blacklist-company-btn {
  background-color: var(--primaryColor);
}

.company-content-container {
  width: 100%;
  margin-top: 1rem;
  background-color: white;
  box-shadow: var(--Boxshadow1);
  padding: 1.5rem 2rem;
  height: 80%;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 5px;
}

.company-content-top {
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.company-content-top form,
.company-content-top form input {
  background-color: var(--BackgroungColor);
}

.manage-company-table {
  overflow: hidden;
  overflow-y: auto;
}

.company-content-container table {
  width: 100%;
  text-align: center;
  /* border-collapse: collapse; */
}

.company-content-container table #action-th {
  background-color: white;
}

.company-content-container table th,
.student-batches-table table th {
  border-top: none;
  position: sticky;
  top: 0;
  font-weight: 500;
  padding: 0.4rem;
  background-color: var(--AlternateLightGrey);
  /* border: 4px solid white; */
  border-radius: 0.3rem;
}

.company-content-container table td {
  padding: 0.5rem;
  width: 200px;
}

.company-content-container table td:nth-child(5) {
  width: 8%;
  padding: 0 1.5rem;
}

.company-content-container table a,
.student-batches-btn {
  border: 1px solid var(--primaryColor);
  padding: 0.1rem 1rem;
  border-radius: 0.3rem;
  color: var(--primaryColor);
  transition: ease-in-out 50ms;
}

.company-content-container table a:hover,
.student-batches-btn:hover {
  background-color: var(--primaryColor);
  color: white;
}

#resend-credential-form-company {
  margin: auto;
}

#resend-credential-form-company button {
  padding: 0.2rem 0.5rem;
}

#blacklist-btn-company {
  border: none;
  background-color: var(--DangerColor);
  border-radius: 3px;
}

#blacklist-btn-company span {
  color: white;
  padding: 0.2rem;
}

#blacklist-tooltip {
  position: absolute;
  visibility: hidden;
  right: 2rem;
  top: 0;
  width: 8rem;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 2px;
  text-align: center;
  color: white;
  padding: 0.2rem;
}

.container-top-update:hover #blacklist-tooltip {
  visibility: visible;
}

/*Manage Company - View BlackListed Company Modal*/
.blacklisted-main-modal {
  padding-top: 50px;
}

.blacklisted-main-div {
  position: relative;
  width: 60%;
  height: 90%;
  margin: auto;
}

.blacklisted-companies-modal {
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  overflow-y: auto;
}

.blacklisted-companies-modal .top-bar {
  position: sticky;
  background-color: white;
  padding: 0.5rem;
  top: -1rem;
  justify-content: space-between;
  align-items: center;
}

.blacklisted-companies-modal table {
  text-align: center;
  font-size: 0.9rem;
}

.blacklisted-companies-modal table th {
  background-color: var(--AlternateLightGrey);
  padding: 0.4rem;
}

.blacklisted-companies-modal table td {
  padding: 0.2rem;
  word-wrap: break-word;
}

.blacklisted-companies-modal #no-blacklist-msg {
  margin: auto;
  background-color: var(--BackgroungColor);
  padding: 0.3rem;
  width: 100%;
  text-align: center;
}
/*-----------------------  Manage Company - Add Company Page ----------------------- */

.add-company-container {
  gap: 3rem;
  justify-content: center;
  position: relative;
}

.register-company,
.csv-company {
  background-color: white;
  width: 40%;
  height: 100%;
  padding: 1rem 3rem;
  border-radius: 5px;
  justify-content: start;
}

.register-company h2,
.csv-company h2 {
  text-align: center;
  font-size: 1.1rem;
}

.register-company h2 {
  margin-bottom: 1.5rem;
}

.register-company .register-company form,
.register-company form ul {
  gap: 1.5rem;
}

.csv-company {
  gap: 1rem;
}

.csv-company p {
  font-size: 0.85rem;
}

.csv-company p span {
  font-weight: bold;
}

.register-company form button {
  padding: 0.4rem 2rem;
  margin-top: 1.5rem;
}

.input-validate-error {
  color: red;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.1rem;
}

.csv-instructions {
  align-items: center;
  gap: 0.5rem;
  color: var(--primaryColor);
  font-weight: 500;
  margin-bottom: 1rem;
}

.csv-company-middle a {
  align-items: center;
  margin: 0.5rem 0;
  gap: 0.5rem;
  width: 100%;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  padding: 0.3rem 1rem;
  justify-content: center;
  color: var(--primaryColor);
  font-weight: 500;
  transition: ease-in-out 100ms;
}

.csv-company-middle a:hover {
  background-color: var(--primaryColor);
  color: white;
}

.csv-company-bottom {
  align-items: center;
  width: 100%;
  background-color: rgb(248, 248, 248);
  padding: 1rem;
  border-radius: 5px;
  border: 1.8px dashed #d9d9d9;
}

.csv-company-bottom form {
  text-align: center;
  gap: 0.5rem;
}

.csv-company-bottom form input {
  display: none;
}

.csv-company-bottom form #form-file-name {
  font-size: 0.8rem;
}

.csv-company-bottom form label {
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  max-width: 100%;
  margin: auto;
  background-color: #424242;
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

.csv-company-bottom button {
  width: fit-content;
  padding: 0.4rem 2rem;
}

#upload-file-error {
  color: var(--DangerColor);
  padding: 0.2rem;
  font-weight: 500;
}

/*-----------------------  Manage Student - Student List Page ----------------------- */

.student-list-container {
  width: 90%;
  height: 96%;
  margin: 0 auto;
  /* margin-top: 1rem; */
  padding-bottom: 1rem;
}

.student-list-container .manage-company-table {
  height: 85%;
}

.student-list-container table th:nth-child(2) {
  width: 30%;
}

.student-list-container table th:nth-child(4) {
  width: 15%;
}

.student-list-container .company-content-top form,
.student-list-container .company-content-top form input {
  background-color: var(--BackgroungColor);
}

.student-list-container .add-new-students {
  margin-top: 1rem;
}

.student-list-container .add-new-students a {
  padding: 0.4rem 1rem;
  margin: auto;
  margin-top: 1rem;
  color: white;
}

/*-----------------------  Manage Student - Adding Batches Modal ----------------------- */

.std-batches-add {
  position: relative;
  margin: auto;
  width: 30%;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
  gap: 0.5rem;
  padding-bottom: 3rem;
}

#add-student-batch {
  width: 100%;
  padding: 0;
  gap: 1rem;
}

#add-student-batch div {
  gap: 1rem;
  justify-content: center;
}

#add-student-batch input {
  width: 4rem;
}

#add-student-batch button {
  margin: 0;
}

#validate-error,
#validate-error-rename {
  color: var(--DangerColor);
}

.std-batches-add #validate-error {
  position: absolute;
  bottom: 0.8rem;
  width: fit-content;
  margin: auto;
}

#status-dropdown {
  width: 10rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

#status-dropdown:focus {
  border-color: #054a91;
}

/* CHANGE ACCESS MODAL BOX  */
#change-access-modal {
  padding-bottom: 2rem;
}

#change-access-modal form {
  gap: 1rem;
  margin-top: 1rem;
}
#change-access-modal label {
  font-size: 1.1rem;
}

/* VIEW BATCH MODAL BOX  */

#view-batch-modal {
  width: 55%;
  padding-bottom: 2rem;
}

#view-batch-modal .view-batch-div {
  gap: 1rem;
}

#view-batch-modal ul {
  gap: 1rem;
}

#view-batch-modal ul li {
  justify-content: space-between;
}

#view-batch-modal ul li p {
  width: 45%;
  font-size: 1rem;
}

#view-batch-modal ul li a {
  padding: 0.3rem 0.5rem;
}

#view-batch-modal ul li button {
  padding: 0.3rem 0.5rem;
}

#view-batch-modal .delete-btn {
  width: fit-content;
  background-color: var(--DangerBackground);
  margin: auto;
  border: none;
  padding: 0.3rem 1rem;
  margin-top: 1rem;
  border-radius: 3px;
  color: var(--DangerColor);
  cursor: pointer;
}

#view-batch-modal .delete-btn a {
  color: inherit;
  font-size: 0.9rem;
}

#view-batch-modal .delete-btn:hover {
  background-color: var(--DangerColor);
  color: white;
}

.hide-element {
  display: none;
}

.batch_year_rename {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.batch_year_rename form {
  width: 80%;
  gap: 0.5rem;
  margin-top: 1rem;
}

#rename-student-batch input[type="submit"] {
  width: 30%;
  color: white;
  background-color: var(--primaryColor);
  border: none;
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  border-radius: 3px;
  font-size: 0.85rem;
}

#rename-student-batch input[type="submit"]:hover {
  background-color: #ca6302;
}

#rename-student-batch input {
  margin: auto;
  width: 5rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
}

#renameBatchyearBtn {
  background-color: var(--AlternateLightGrey);
  padding: 0.5rem;
  cursor: pointer;
}

#renameBatchyearBtn:hover {
  background-color: #b4bbc4;
}

/*-----------------------  Manage Student - Add student Page ----------------------- */
.register-student-top {
  justify-content: flex-start;
  margin-bottom: 1rem;
  margin-left: 5.3rem;
}
.register-student-top div {
  background-color: white;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  gap: 1rem;
  width: fit-content;
}

.register-student-top div p {
  color: var(--primaryColor);
}

.add-student-container .register-company,
.add-student-container .csv-company {
  height: 100%;
}

/*----------------------- Manage Student - Landing Page -----------------------*/

.student-batches-container {
  background-color: white;
  width: 90%;
  padding: 2rem;
  height: 90%;
  gap: 1rem;
  border-radius: 5px;
  margin: 0 auto;
}

.student-batches-top {
  justify-content: space-between;
}

.student-batches-top a {
  margin: 0;
  padding: 0.4rem 1.2rem;
  gap: 0.5rem;
}

.student-batches-container table {
  width: 100%;
  /* border-collapse: collapse; */
}

.student-batches-container table th:nth-child(6) {
  background-color: white;
  width: 20%;
}

.student-batches-container table th:nth-child(5) {
  width: 12%;
  background-color: white;
}

.student-batches-table {
  overflow: hidden;
  text-align: center;
  overflow-y: auto;
}

.student-batches-table td .common-status {
  width: fit-content;
  margin: auto;
}

.student-batches-table td {
  padding: 0.5rem;
}

.student-batches-table td button {
  padding: 0.2rem 1rem;
  border: none;
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.student-batches-table td button a {
  color: rgb(170, 169, 169);
  font-weight: 400;
}

.student-batches-table td button a:hover {
  color: var(--Black);
}

.student-batches-table td button:hover {
  transform: scale(1.02);
}
.student-batches-table thead span {
  text-align: center;
}

/* table th {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */

.student-batch-status div {
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
}

.student-batch-status div span {
  font-size: 1.1rem;
  cursor: pointer;
}

#student-batch-current-year {
  padding: 0.2rem 0.6rem;
  color: rgb(170, 169, 169);
  margin-left: 1rem;
  border-radius: 0.3rem;
  gap: 0.2rem;
  font-weight: 500;
}

#student-batch-current-year span {
  color: var(--primaryColor);
}
/*----------------------- Dashboard -----------------------*/
.main-dashboard-topbar {
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.dashboard-topbar {
  padding: 0.2rem 2rem;
  gap: 0.4rem;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
}

.dash-top-right,
.dash-top-left {
  align-items: center;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  gap: 0.2rem;
  color: var(--Black);
}

.dash-top-right a {
  gap: 0.5rem;
  color: white;
}

.dashboard-topbar-btns {
  justify-content: flex-end;
  gap: 1.5rem;
  margin-top: 1rem;
}

.dashboard-topbar-btns a {
  padding: 0.3rem 0.5rem;
  gap: 0.5rem;
  align-items: center;
  margin: 0;
  border-radius: 5px;
}

.dashboard-topbar-btns .send-invitation {
  background-color: var(--BackgroungColor);
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.dashboard-topbar-btns .send-invitation:hover {
  background-color: var(--primaryColor);
  color: white;
}

#dashboard-round-date-data {
  gap: 0.3rem;
  font-weight: 500;
  width: 7rem;
  padding: 0 0.5rem;
}

#dashboard-round-date {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: var(--primaryColor);
  color: white;
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
  /* justify-content: center; */
  gap: 0.3rem;
}

#dashboard-round-date-two {
  background-color: var(--primaryColor);
  color: white;
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
  /* justify-content: center; */
  gap: 0.3rem;
  flex: 1;
}

.dashboard-cards {
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

.dashboard-cards div {
  overflow: hidden;
  width: 35%;
  background-color: white;
  padding: 0.8rem;
  padding-left: 1.5rem;
  border-radius: 5px;
  position: relative;
  gap: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dashboard-cards div span {
  background-color: var(--DarkBlue);
  width: 0.7rem;
  height: 100%;
  position: absolute;
  left: 0;
}

.dashboard-cards .dashboard-card-item {
  width: 75%;
}

.dashboard-cards .dashboard-card-total {
  font-size: 1rem;
  color: var(--DarkBlue);
}

.dashboard-advertisement-list {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 5px;
  overflow-y: auto;
  height: 63%;
}

.dashboard-advertisement-list .list-top {
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dashboard-advertisement-list .list-body {
  padding: 1rem;
  padding-top: 0;
  overflow-y: auto;
}

.dashboard-advertisement-list .list-body #thead-dashboard {
  position: sticky;
  top: 0;
}

.dashboard-advertisement-list table {
  width: 100%;
  /* overflow: hidden; */
  text-align: center;
}

.dashboard-advertisement-list table td {
  padding: 0.5rem;
}

.dashboard-advertisement-list table th {
  padding: 0.4rem;
  background-color: var(--AlternateLightGrey);
  border-radius: 0.3rem;
  font-weight: 500;
}

.dashboard-advertisement-list table td:nth-child(4) {
  width: 10%;
}

.dashboard-advertisement-list table td:nth-child(5) {
  width: 15%;
  text-align: center;
}

.dashboard-advertisement-list table a {
  padding: 0.2rem 1.5rem;
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  border-radius: 5px;
  font-size: 0.85rem;
}

.dashboard-advertisement-list table a:hover {
  background-color: var(--primaryColor);
  color: white;
}

.dashboard-advertisement-list .view-all-btn {
  margin: 0;
  padding: 0.2rem 1rem;
}

/*----------------------- Invitation Page -----------------------*/

.company-invitation-container {
  background-color: white;
  padding: 2rem;
  width: 60%;
  border-radius: 5px;
  gap: 3rem;
  margin: auto;
  margin-top: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.company-invitation-container .invitation-body ul {
  gap: 1.1rem;
}

.company-invitation-container .invitation-body li label {
  width: 30%;
}

.company-invitation-container #invitation-mail-subject,
.company-invitation-container #invitation-mail-body {
  width: 70%;
  resize: none;
}

.company-invitation-container .invitation-body button {
  padding: 0.3rem 1.5rem;
  margin: auto;
  gap: 0.3rem;
}

/*----------------------- Invitation - SET ROUND MODAL -----------------------*/

#set-round-modal-box {
  text-align: center;
}

#set-round-modal-box form {
  width: 50%;
}

#set-round-modal-box form,
#set-round-modal-box ul {
  gap: 1.5rem;
}

#set-round-modal-box li {
  gap: 1rem;
}

#set-round-modal-box .date-period {
  gap: 0.5rem;
  justify-content: center;
}

#set-round-modal-box .date-period span {
  padding-top: 1.1rem;
}

#set-round-modal-box .date-period label {
  color: var(--primaryColor);
}

#set-round-modal-box button {
  width: 80%;
  margin: auto;
  padding: 0.5rem;
}

#set-round-modal-box a {
  position: absolute;
}

#set-round-modal-box-p {
  width: 100%;
}

#set-round-modal-box #duration-note {
  font-size: 0.8.5rem;
  color: var(--DangerColor);
  padding: 0.2rem 0.5rem;
  background-color: var(--DangerBackground);
  border-radius: 5px;
  font-weight: 400;
}

#set-round-year-box {
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  background-color: var(--primaryColor);
  color: white;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  cursor: default;
}

#set-round-modal-box .period-header {
  font-weight: 600;
}
/*----------------------- Invitation Page -----------------------*/

.company-details-main-container {
  /* height: 85%; */
  justify-content: center;
}

.company-details-container {
  background-color: white;
  width: 50%;
  padding: 2rem;
  border-radius: 5px;
  gap: 1rem;
  height: 100%;
}

.company-details-container .container-top {
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.company-details-container .container-body {
  border-top: 1px solid var(--AlternateLightGrey);
  padding-top: 1rem;
}

.company-details-container .container-body ul {
  gap: 1rem;
}

.container-top-update {
  position: relative;
}

.container-top-update div {
  padding: 0.5rem;
}

.company-details-container .container-body li label {
  width: 35%;
}

.company-details-container .container-body li input {
  width: 65%;
  background-color: var(--BackgroungColor);
}

.company-details-container .container-body li select {
  background-color: var(--BackgroungColor);
}

.company-details-container .container-body button {
  padding: 0.2rem 2rem;
  margin-top: 1rem;
}

.company-details-container .container-body button#update_btn {
  background-color: var(--DarkBlue);
}

.company-details-container .container-body button#reset-btn {
  border: 1px solid var(--DarkBlue);
  background-color: var(--BackgroungColor);
  color: var(--DarkBlue);
}

.company-details-container .container-btns {
  justify-content: space-around;
  padding-top: 1rem;
  border-top: 1px solid var(--AlternateLightGrey);
}

.company-details-container .container-btns button {
  padding: 0.3rem 1rem;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.3rem;
}

.company-details-container .container-btns #view-btn {
  background-color: var(--primaryColor);
  color: white;
  margin: 0;
}
.company-details-container .container-btns #delete-btn {
  background-color: var(--DangerColor);
  color: white;
}

.company-details-container .container-body #delete-btn {
  background-color: var(--DangerColor);
  color: white;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.3rem;
}

.company-details-container .container-body #delete-btn a {
  color: white;
}

.company-details-container .container-btns #blacklist-btn {
  background-color: var(--DangerColor);
  color: white;
}

.company-details-container #toggleUpdateBtn {
  margin: auto;
  transition: ease-in-out 0.2s;
  gap: 2rem;
}

.company-details-analysis {
  width: 40%;
  margin-left: 2rem;
  gap: 1rem;
  min-height: 20rem;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
}

.company-details-analysis .analysis-items,
.company-details-analysis .analysis-items div {
  gap: 1.5rem;
}

.company-details-analysis .analysis-items div p {
  width: 70%;
}

#secondary-grey-btn {
  box-shadow: none;
  background-color: transparent;
  color: rgb(170, 169, 169);
  cursor: pointer;
  transition: ease-in-out 300ms;
  padding: 0.3rem 0.5rem;
  border: none;
}

#secondary-grey-btn:hover {
  color: var(--Black);
  transform: scale(1.05);
}
/*----------------------- Student Request Page -----------------------*/

.student-request-container {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  height: 95%;
  padding: 1.5rem;
}

.student-request-container .student-request-top {
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}

.student-request-body {
  gap: 1rem;
  height: 95%;
  overflow-y: auto;
}

.student-requests-box {
  gap: 1rem;
  width: 50%;
  background-color: var(--BackgroungColor);
  padding: 1rem;
  height: 95%;
  border-radius: 5px;
  overflow-y: auto;
}

.student-requests-box .container-top {
  justify-content: space-between;
}

.student-request-body .common-filter {
  justify-content: flex-end;
  width: 100%;
}

.student-request-body .student-list td {
  padding: 0.2rem;
}

.student-request-body .student-list a {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  padding: 0.1rem 1rem;
  border-radius: 5px;
}

.student-request-body .student-list .common-status {
  width: 7rem;
}

/*----------------------- Student Request Page -----------------------*/

/* #student-main-profile{
  height: auto;
  overflow-y: auto;
} */

.student-profile-view {
  width: 90%;
  overflow: auto;
  border-radius: 5px;
}

.student-profile-view .std-profile-container-top {
  background-color: white;
  justify-content: right;
  padding: 2rem;
  padding-bottom: 3.5rem;
}

.student-profile-view .std-profile-container-body {
  background: linear-gradient(269.96deg, #3e7cb1 5.25%, #054a91 88.31%);
  padding: 2rem;
  position: relative;
}

.student-profile-bio {
  justify-content: right;
  width: 100%;
}

.student-profile-bio div {
  width: 50%;
  text-align: justify;
}

.student-profile-bio h3 {
  font-size: 1.5rem;
}

.student-profile-bio span {
  color: var(--primaryColor);
}

.std-profile-container-body {
  align-items: flex-start;
}

.std-profile-container-body .body-left {
  padding-top: 8rem;
  width: 50%;
}

.std-profile-container-body .body-left span {
  background: #eeeeee5b;
  padding: 0.2rem 0.8rem;
  border-radius: 10px;
}

.std-profile-container-body .body-left p,
.std-profile-container-body h3 {
  color: white;
}

.std-profile-container-body .body-left ul {
  gap: 1rem;
  width: 100%;
}

.std-profile-container-body .body-left li {
  gap: 1rem;
}

.std-profile-container-body .body-left li p {
  width: 10rem;
}

.std-profile-container-body .body-left li span {
  width: 12rem;
  padding: 0.8rem;
  color: white;
}

.std-profile-container-body .interested-areas .interested-area-items {
  justify-content: space-around;
  gap: 1rem;
}

.std-profile-container-body .interested-areas span {
  width: 8rem;
  text-align: center;
}

.std-profile-container-body .extra-curricular div {
  background: #eeeeee5b;
  width: 75%;
  padding: 1rem;
  border-radius: 10px;
  color: white;
}

.std-profile-container-body .body-right {
  width: 50%;
  gap: 2rem;
  margin-left: 4rem;
}

.std-profile-container-body .student-experience {
  width: 100%;
}

.std-profile-container-body .student-experience div {
  background-color: #eeeeee5b;
  width: 80%;
  padding: 1rem;
  color: white;
  border-radius: 10px;
  margin-top: 1rem;
}

.std-profile-container-body .student-experience .experience-items {
  gap: 0.5rem;
}

.std-profile-container-body .student-qualifications {
  gap: 1rem;
}

.student-profile-view .std-profile-container-bottom {
  background: linear-gradient(270deg, #eaa846 4.01%, #f17300 95.01%);
  padding: 0.3rem 1rem;
}

.std-profile-container-bottom {
  justify-content: space-between;
}

.std-profile-container-bottom img {
  color: #ffffff;
  width: 25px;
}

.std-profile-container-bottom .bottom-left {
  gap: 1rem;
}

.std-profile-container-bottom .bottom-left div {
  gap: 0.3rem;
  color: white;
}

.std-profile-container-bottom .bottom-right a {
  gap: 0.5rem;
  color: var(--primaryColor);
  background-color: white;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  font-size: 0.85rem;
  font-weight: 500;
}

.std-profile-container-body .std-profile-image img {
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  left: 2.5rem;
  top: -8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/*----------------------- Student Details Page -----------------------*/

#student-details-view {
  width: 65%;
}

#student-details-view form li label {
  width: 45%;
}

#student-details-view .container-btns {
  justify-content: space-between;
  gap: 1.5rem;
}

#student-details-view .container-body #student-batch-stream {
  justify-content: space-between;
}

#student-details-view .container-body #student-batch-stream div {
  gap: 1rem;
}

#std-system-access select {
  border-radius: 3px;
  border: 1px solid var(--SuccessColor);
  font-size: 0.9rem;
  padding: 0.2rem;
  background-color: var(--SuccessBackground);
  color: var(--SuccessColor);
}

#std-system-access option {
  color: var(--Black);
}

#std-system-access select.danger {
  border: 1px solid var(--DangerColor);
  background-color: var(--DangerBackground);
  color: var(--DangerColor);
}

/*----------------------- Profile Update Page -----------------------*/

.update-profile-container {
  padding: 2rem;
  width: 50%;
  margin: auto;
  gap: 1rem;
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

.update-profile-container h3 {
  text-align: left;
}

.update-profile-container img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.update-profile-container form input {
  width: 90%;
}

.update-profile-container form ul {
  width: 100%;
  margin: auto;
  font-size: 0.9rem;
}
.update-profile-container form li {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 95%;
  margin-top: 1rem;
}

.update-profile-container form li label {
  width: 25%;
}

.update-profile-container-btn {
  display: flex;
  width: fit-content;
  margin: auto;
  gap: 2rem;
  margin-top: 1.5rem;
}

.update-profile-container-btn button {
  padding: 0.5rem;
}

.main-user-profile-icon div {
  position: relative;
  align-items: center;
  display: flex;
  width: 120px;
  justify-content: center;
  margin: auto;
}

.main-user-profile-icon #main-profile-edit {
  background-color: var(--BackgroungColor);
  color: var(--Black);
  padding: 0.2rem 0.5rem;
  margin-top: 0.5rem;
  border-radius: 3px;
  font-size: 0.9rem;
  align-items: center;
  gap: 0.3rem;
  box-shadow: var(--Boxshadow1);
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.main-user-profile-icon #main-profile-edit:hover {
  background-color: var(--DarkBlue);
  color: white;
}

.main-user-profile-icon #main-profile-edit span {
  font-size: 1.1rem;
}

.update-profile-container form input {
  padding: 0.5rem;
}

.update-profile-container input[type="file"] {
  display: none;
}

.update-profile-container #form-file-name {
  margin-top: 0.8rem;
  font-size: 0.8rem;
}

.update-profile-container #reset-btn {
  background-color: var(--primaryColor);
}

/*----------------------- Advertisement List -----------------------*/

.pdc-advertisementlist {
  height: auto;
  margin-top: 0;
}

.pdc-advertisementlist table td:nth-child(4) {
  width: 120px;
}

/* TOOLTIP - Hover Effect*/

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: 0.3rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: rgb(73, 70, 70);
  color: white;
  text-align: center;
  border-radius: 3px;
  padding: 0.4rem;
  font-size: 0.8rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: -3rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  color: var(--primaryColor);
}

/*----------------------- PDC - StudentRequestsByStudent List -----------------------*/

.student-requests-list-container {
  width: 75%;
  background-color: white;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  gap: 1.5rem;
  margin: auto;
  margin-top: 0.5rem;
}

.student-requests-list-container .top-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.student-requests-list-container .top-container a {
  width: fit-content;
  margin: 0;
  padding: 0.5rem 1rem;
}

.student-requests-list-container .middle-container {
  width: 100%;
}

.student-requests-list-container .middle-container ul {
  gap: 0.7rem;
  width: 100%;
}

.student-requests-list-container .middle-container li {
  gap: 1.5rem;
}

.student-requests-list-container .middle-container li p {
  width: 40%;
}

.student-requests-list-container .middle-container li p.detail-item {
  width: 55%;
  background-color: var(--AlternateLightGrey);
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
}

.student-requests-list-container .bottom-container {
  gap: 1rem;
}

.student-requests-list-container .bottom-container .top-box {
  gap: 1.5rem;
}

.student-requests-list-container .bottom-container ul li {
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--AlternateLightGrey);
  padding: 0.5rem 0.3rem;
}

.student-requests-list-container .bottom-container ul li a {
  margin: 0;
}

.student-requests-list-container .bottom-container .request-row {
  width: 70%;
  justify-content: space-between;
}

/********************************* Disable Style *********************************/
.disabled-button-style {
  color: #8d8d8d !important;
  cursor: not-allowed !important;
  background: #cccccc !important;
  border: 1px solid #bdbdbd !important;
  box-shadow: none !important;
}

.disabled-button-style a {
  color: #8d8d8d !important;
  cursor: not-allowed !important;
}

.disabled-button-style span {
  color: #8d8d8d !important;
}

.disabled-button-style:hover {
  background: #ccc !important;
  transform: scale(1) !important;
}

select:disabled {
  opacity: 0.5;
  background-color: #ccc;
  color: #8d8d8d;
  cursor: not-allowed;
}

/********************************* SPIN ANIMATION Style *********************************/

#loading-material-icon {
  animation: spin 10s linear infinite;
}
/* 
#student-batch-year-span {
  animation: move 5s linear infinite;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 
@keyframes move {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  25% {
    transform: translateX(-6px);
    opacity: 0.5;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  75% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
} */
