@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --primaryColor: #f17300;
  --DarkBlue: #054a91;
  --LightBlue: #3e7cb1;
  --Black: #212121;
  --BackgroungColor: #efeff3;
  --AlternateLightGrey: #dbe4ee;
  --SuccessColor: #4f8a10;
  --DangerColor: #ba3939;
  --DangerBackground: #ffbaba;
  --SuccessBackground: #dff2bf;
  --BoxShadow1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

body {
  background-color: var(--BackgroungColor);
}

/*To remove the border outline of all the inputs*/
input:focus {
  outline: none;
}

/********************************* Common 1 - Display Flex Column *********************************/
.display-flex-col {
  display: flex;
  flex-direction: column;
}

/********************************* Common 2 - Input Box *********************************/
.common-input {
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--AlternateLightGrey);
  color: var(--Black);
  font-size: 0.8rem;
}

/********************************* Common 3 -  Blue Button *********************************/
.common-blue-btn {
  margin: auto;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-style: none;
  border-radius: 3px;
  font-size: 0.8rem;
  box-shadow: var(--BoxShadow1);
  background-color: var(--DarkBlue);
}

.common-blue-btn span {
  font-size: 1.2rem;
}

/********************************* Common 4 -  Common Edit Button *********************************/
.common-edit-btn {
  display: flex;
  background-color: var(--BackgroungColor);
  padding: 0.4rem;
  border-radius: 10px;
  width: fit-content;
  justify-content: center;
  cursor: pointer;
}

.common-edit-btn span {
  font-size: 1rem;
  color: var(--DarkBlue);
}

/********************************* Common 5 -  Main Modal Box [ ID ] *********************************/
.common-modal-box {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.common-modal-box form {
  position: relative;
  margin: auto;
  width: 30%;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
}

.common-modal-box span {
  cursor: pointer;
}

.common-modal-box a {
  width: fit-content;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.common-modal-box button {
  margin-top: 1.5rem;
  padding: 0.3rem 1rem;
}

.common-modal-box a:hover {
  color: var(--Black);
}

/********************************* common view button *********************************/
.common-view-btn {
  margin: auto;
  color: var(--primaryColor);
  cursor: pointer;
  border: solid 1px var(--primaryColor);
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 0.2rem 1.2rem;
  background: #fff;
}

.common-view-btn:hover {
  color: rgb(255, 255, 255);
  background: var(--primaryColor);
}

/********************************* Common 6 - Display Flex Row *********************************/
.display-flex-row {
  display: flex;
  align-items: center;
}

/********************************* Common 7 - Search Bar *********************************/
.common-search-bar {
  background-color: #fff;
  gap: 0.2rem;
  padding: 0 0.5rem;
  border-radius: 5px;
  color: var(--primaryColor);
}

.common-search-bar input {
  background-color: #fff;
  border: none;
}

/********************************* Common 7 - Status Div *********************************/
.common-status {
  border: 1px solid var(--SuccessColor);
  padding: 0.2rem 0.5rem;
  gap: 0.5rem;
  border-radius: 15px;
  color: var(--SuccessColor);
  font-size: 0.85rem;
}

.common-status-span {
  height: 0.8rem;
  width: 0.8rem;
  background-color: var(--SuccessColor);
  border-radius: 50%;
}

.red-status {
  background-color: var(--DangerColor);
}

.red-status-font {
  color: var(--DangerColor);
  border: 1px solid var(--DangerColor);
}

/********************************* Common 8 - Common Back Button  *********************************/
.common-back-btn {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  background-color: #d9d9d9;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.common-back-btn span {
  font-size: 1.3rem;
  color: var(--Black);
  font-variation-settings: "wght" 400;
}

/******************************** Common 9 - Common Filter  *********************************/
.common-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 7rem;
  color: var(--primaryColor);
}

.common-filter select {
  border: 1px solid var(--backgrund-color);
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

/********************************* MAIN SIDEBAR*********************************/

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  gap: 4rem;
  max-width: 220px;
  background-color: #fff;
  border-right: 1px solid var(--BackgroungColor);
  /* box-shadow:  6px 0px 4px 4px #F3F3F3; */
  transition-duration: 800ms;
  padding-top: 1.5rem;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 200, "opsz" 48;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 48;
}

nav .navbar-main-logo {
  display: flex;
  justify-content: center;
}

nav .navbar-main-logo img {
  width: 70%;
  object-fit: cover;
}

nav p {
  font-size: 0.9rem;
}

.sidebar-items {
  gap: 1rem;
}

.sidebar-items a,
.sidebar-bottom a {
  color: var(--Black);
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  padding: 0.6rem 1.5rem;
  transition: all 0.2s ease-in-out;
}

.sidebar-items a:hover,
.sidebar-bottom a:hover {
  background-color: var(--BackgroungColor);
  color: var(--primaryColor);
}

.sidebar-bottom ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main {
  position: relative;
  width: calc(100% - 220px);
  left: 220px;
  top: 0;
  height: 100vh;
  transition-duration: 800ms;
  overflow: hidden;
}

.top-nav {
  position: fixed;
  width: calc(100% - 220px);
  top: 0;
  left: 220px;
  padding: 0 2rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  background-color: #fff;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--BackgroungColor);
  transition-duration: 800ms;
  overflow: hidden;
}

/* .top-nav a:hover {
    overflow: hidden;
    background-color: var(--Black);
    color: white;
  } */

.topNav-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition-duration: 800ms;
}

.topNav-left p {
  color: var(--Black);
}

.topNav-icon {
  border-radius: 10px;
  background-color: var(--BackgroungColor);
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.topNav-icon span {
  font-variation-settings: "wght" 400;
}

.topNav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.topNav-notification {
  background-color: var(--BackgroungColor);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.topNav-right img {
  width: 30px;
  border-radius: 50%;
}

/********************************* Nav-Bar Menu Collapsing *********************************/

.toggle-sidenavbar {
  left: -220px;
}

.toggle-topnavbar {
  width: 100%;
  left: 0;
}

.toggle-main {
  left: 0;
  width: 100%;
}

.toggle-nav-logo {
  opacity: 1;
  transition-duration: 800ms;
  position: absolute;
  left: -50px;
}

.toggle-nav-logo img {
  width: 50px;
}

.nav-logo-show {
  opacity: 1;
  left: 10px;
}

.top-nav-left {
  padding-left: 3rem;
}

/********************************* Main Content Container *********************************/
.main-content {
  color: black;
  margin-top: 50px;
  padding: 1rem 1.8rem;
  background-color: var(--BackgroungColor);
  border-radius: 10px;
  width: 100%;
  font-size: 0.9rem;
  overflow: auto;
  height: calc(100vh - 50px);
}

/********************************* Error Page Page *********************************/

.error-page-container {
  width: 95%;
}

.error-page-container div {
  padding: 2rem;
  gap: 1rem;
}

.error-page-container img {
  width: 40%;
  margin: auto;
}

.error-page-container a {
  padding: 0.5rem;
  background-color: var(--primaryColor);
  color: white;
  width: 50%;
  border-radius: 15px;
  text-align: center;
}

.error-page-container a:hover {
  background-color: #c25e00;
}

/************************************ No Access Page ********************************/
.no-access-page {
  margin: auto;
}

/**************************** Forgot Password Page ********************************/
.forgot-pword-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.forgot-pword-leftbox {
  width: 45%;
}

.forgot-pword-rightbox {
  width: 45%;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.forgot-pword-rightbox .forgot-pwd-form {
  gap: 2rem;
}

.forgot-pword-rightbox .forgot-pwd-form button {
  padding: 0.3rem 1rem;
  margin: 0;
  width: fit-content;
}

.forgot-pwd-form input {
  width: 70%;
  margin-top: 1rem;
}

/**************************** Password Verification Page ********************************/

.pwd-verification-form {
  border: 1px solid var(--AlternateLightGrey);
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}

.pwd-verification-form input {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0;
  border: none;
}

.pwd-verification-form img {
  width: 14rem;
}

.verification-main-container {
  margin-top: 5rem;
  width: 55%;
}

.pwd-verification-form li {
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.pwd-verification-form #email-span{
  font-weight: 600;
  background-color: var(--BackgroungColor);
  padding: 0.2rem 1.5rem;
}

.pwd-verification-form div{
  align-items: center;
  width: 50%;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  gap: 0.2rem;
  margin:1rem 0;
  justify-content: center;
  border: 1px solid var(--AlternateLightGrey);

}

.pwd-verification-form span.material-symbols-outlined{
  font-size: 2rem;
}

/******************** Main Log-In page ******************************/

.loginContainer {
  margin: auto;
  margin-top: 5rem;
  width: 45%;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
}

.loginContainer form {
  gap: 1rem;
  width: 70%;
}

.leftBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 1rem;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.leftBox h1 {
  color: var(--primaryColor);
}

.leftBox form a {
  color: var(--primaryColor);
  text-align: center;
  font-size: 0.9rem;
}

.leftBox-innerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.rightBox {
  width: 50%;
  background: var(--Black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 1rem;
  align-items: center;
  gap: 1.5rem;
}

.rightBox h1 {
  color: var(--primaryColor);
  font-size: 2rem;
  font-weight: 500;
}

.rightBox p {
  color: var(--primaryColor);
  padding-top: 3rem;
}

.rightBox img {
  width: 60%;
  max-width: 500px;
}

#loginForm input {
  padding: 0.7rem;
}

#loginForm input[type="submit"] {
  color: var(--primaryColor);
  padding: 0.5rem 1rem;
  width: 80%;
  background: #fff;
  margin: auto;
  margin-top: 1rem;
  background-color: var(--Black);
  border-radius: 20px;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  transition: ease-in-out 300ms;
  border: none;
}

#loginForm input[type="submit"]:hover {
  background-color: rgb(62, 62, 62);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.signin-error-hide {
  display: none;
}

.signin-error-alert {
  margin-top: 1rem;
  padding: 0.6rem;
  color: var(--DangerColor);
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
  align-items: center;
  width: 80%;
  background-color: var(--DangerBackground);
  border-radius: 5px;
}

.input-error {
  background-color: var(--DangerBackground);
  border-color: var(--DangerColor);
}

/********************************* FLASH MESSAGE *********************************/

#flash-message {
  position: absolute;
  max-width: 18rem;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 0.8rem;
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
}

#flash-message.success-alert {
  border: 1px solid rgb(39, 150, 39);
  background-color: var(--SuccessBackground);
  color: var(--SuccessColor);
  border-left-width: 8px;
}

#flash-message.danger-alert {
  border: 1px solid rgb(240, 61, 61);
  background-color: var(--DangerBackground);
  color: var(--DangerColor);
  border-left-width: 8px;
}

/********************************* Update Password Page *********************************/
.update-pwd-container {
  background-color: white;
  width: 40%;
  margin: auto;
  margin-top: 5rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 5px;
}

.update-pwd-container h2 {
  color: var(--Black);
  margin-bottom: 3rem;
}

.update-pwd-list li {
  gap: 1rem;
}

.update-pwd-list {
  gap: 2rem;
}

.update-pwd-list li label {
  width: 12rem;
}

.update-pwd-container button {
  padding: 0.5rem 2rem;
  margin-top: 2rem;
}

.update-pwd-container form span {
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 50%;
  color: var(--Black);
}

.update-pwd-container form input {
  font-size: 0.9rem;
}

.update-pwd-container form span:hover {
  background-color: var(--BackgroungColor);
}

#pwd-validate-error {
  color: var(--DangerColor);
  background-color: var(--DangerBackground);
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 5px;
  display: none;
}
