@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --primaryColor: #f17300;
  --DarkBlue: #054a91;
  --LightBlue: #3e7cb1;
  --Black: #212121;
  --BackgroungColor: #efeff3;
  --AlternateLightGrey: #dbe4ee;
  --SuccessColor: #4f8a10;
  --DangerColor: #ba3939;
  --DangerBackground: #ffe0e0;
  --BoxShadow1:rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

body {
  background-color: var(--BackgroungColor);
}

/*To remove the border outline of all the inputs*/
input:focus {
  outline: none;
}

/* Common 1 - Display Flex Column*/
.display-flex-col {
  display: flex;
  flex-direction: column;
}

/* Common 2 - Input Box*/
.common-input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--AlternateLightGrey);
  color: var(--Black);
  font-size: 0.9rem;
}

/* Common 3 -  Blue Button */
.common-blue-btn {
  margin: auto;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-style: none;
  border-radius: 3px;
  font-size: 0.9rem;
  box-shadow: var(--BoxShadow1);
  background: linear-gradient(270deg, #5ecae4 0%, #168eb4 100%);
}

/* Common 4 -  Common Edit Button */
.common-edit-btn {
  display: flex;
  background-color: var(--BackgroungColor);
  padding: 0.4rem;
  border-radius: 10px;
  width: fit-content;
  justify-content: center;
}

.common-edit-btn span {
  font-size: 1.1rem;
  /* color: var(--LightBlue); */
  /* color: var(--DarkBlue); */
  color: #168eb4;
}

/* Common 5 -  Main Modal Box [ ID ] */

#common-modal-box {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

#common-modal-box form {
  position: relative;
}

#common-modal-box span {
  cursor: pointer;
}

#common-modal-box a {
  width: fit-content;
  position: absolute;
  right: 1rem;
  top:1rem;
}

#common-modal-box a:hover {
  color: var(--Black);
}

/* /-------------- MAIN SIDEBAR ---------------/ */

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  gap: 4rem;
  max-width: 220px;
  background-color: #fff;
  border-right: 1px solid var(--BackgroungColor);
  /* box-shadow:  6px 0px 4px 4px #F3F3F3; */
  transition-duration: 800ms;
  padding-top: 1.5rem;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 200, "opsz" 48;
}

nav .navbar-main-logo {
  display: flex;
  justify-content: center;
}

nav .navbar-main-logo img {
  width: 70%;
  object-fit: cover;
}

nav p {
  font-size: 0.9rem;
}

.sidebar-items {
  gap: 1rem;
}

.sidebar-items a,
.sidebar-bottom a {
  color: var(--Black);
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  padding: 0.6rem 1.5rem;
  transition: all 0.2s ease-in-out;
}

.sidebar-items a:hover,
.sidebar-bottom a:hover {
  background-color: var(--BackgroungColor);
  color: var(--primaryColor);
}

.sidebar-bottom ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main {
  position: relative;
  width: calc(100% - 220px);
  left: 220px;
  top: 0;
  height: 100%;
  transition-duration: 800ms;
  overflow: hidden;
}

.top-nav {
  position: fixed;
  width: calc(100% - 220px);
  top: 0;
  left: 220px;
  padding: 0 2rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  background-color: #fff;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--BackgroungColor);
  transition-duration: 800ms;
  overflow: hidden;
}

/* .top-nav a:hover {
    overflow: hidden;
    background-color: var(--Black);
    color: white;
  } */

.topNav-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition-duration: 800ms;
}

.topNav-left p {
  color: var(--Black);
}

.topNav-icon {
  border-radius: 10px;
  background-color: var(--BackgroungColor);
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.topNav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.topNav-notification {
  background-color: var(--BackgroungColor);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.topNav-right img {
  width: 30px;
  border-radius: 50%;
}

/* Nav-Bar Menu Collapsing */

.toggle-sidenavbar {
  left: -220px;
}

.toggle-topnavbar {
  width: 100%;
  left: 0;
}

.toggle-main {
  width: calc(100% - 60px);
  left: 0;
}

.toggle-nav-logo {
  opacity: 1;
  transition-duration: 800ms;
  position: absolute;
  left: -50px;
}

.toggle-nav-logo img {
  width: 50px;
}

.nav-logo-show {
  opacity: 1;
  left: 10px;
}

.top-nav-left {
  padding-left: 3rem;
}

/* Main Content Container*/
.main-content {
  color: black;
  margin-top: 50px;
  padding: 1.8rem;
  background-color: var(--BackgroungColor);
  border-radius: 10px;
  width: 100%;
  font-size: 0.9rem;
  overflow: auto;
}

/* HOME PAGE - SELECT USERS*/

.home-user-container {
  display: flex;
  margin: auto;
  border-radius: 10px;
  background-color: var(--BackgroungColor);
  width: 60%;
  height: 80vh;
  margin-top: 3rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-user-img {
  width: 60%;
}

.home-user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-select-user {
  width: 40%;
  background-color: var(--Black);
  color: white;
  padding: 2rem;
  gap: 2rem;
}

.home-select-user h1 {
  text-align: center;
  color: var(--primaryColor);
  font-size: 2rem;
}

.home-user-list {
  gap: 1.5rem;
  align-items: center;
}

.home-user-list li {
  color: white;
  padding: 1rem 1rem;
  gap: 0.5rem;
  background: var(--Black);
  border: 1px solid var(--primaryColor);
  width: 70%;
  border-radius: 10px;
  box-shadow: var(--primaryColor) 0px 2px 2px;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}

.home-user-list li a {
  color: var(--BackgroungColor);
  gap: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.home-user-list li:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

/* TEMPERARY REGISTER PAGE - ADD USERS*/
#register-main-container {
  height: 90vh;
  margin-top: 2rem;
  padding: 1rem;
}
.register-user-form {
  width: 40%;
  padding: 1rem;
}

.register-user-form h2 {
  color: var(--DarkBlue);
  text-align: center;
  margin-bottom: 1.2rem;
}

.register-user-form button {
  padding: 0.5rem 2rem;
  margin: 0;
  margin: 1rem 0;
  width: 100%;
}

.register-user-form .common-input {
  width: 100%;
  padding: 0.2rem 0.6rem;
}

.register-user-form a {
  font-size: 0.9rem;
  color: var(--LightBlue);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.error-page-container img{
  display: block;
  margin: auto;
  width: 50%;
}
.error-page-container .four04{

  width: 40%;

}
.error-page-container h1{
  display: block;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}