/* submit complaint page*/


.student-login-container {

  width: 100%;
  height: 100vh;
  margin: auto;
  position: absolute;
  background: linear-gradient(135deg, #f18118 10%, #1904E5 100%);
  display: flex;
  justify-content: center;
  align-items: center;


}
.image-wrapper img {
  width: 67%;
  float:right; 
  margin: 0px 70px 0px 50px;
}

.box-form {

  margin: auto;
  width: 70%;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content:baseline;
  box-shadow: 0 0 20px 6px #3b3b3b85;
}
@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: auto;
}
.box-form .left {
  color: #f86808;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 50%;
}
.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: #212121;
  overflow: hidden;
  box-sizing: border-box;
}
.box-form .left .overlay h1 {
  font-size: 7vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.box-form .right {
  padding: 40px;
  display: block;
  margin: auto;
  overflow: hidden;
  width: 50%;
}
@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
  }
}
.box-form .right h5 {
  font-size: 5vmax;
  color: #f86808;
}
.box-form .right p {
  font-size: 14px;
  color: #ffffff;
}
.box-form .right .inputs {
  overflow: hidden;
  margin-bottom: 2rem;
}
.box-form .right input {
  width: 85%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: 5;
  outline: 0;
  border-radius: 7px;
  border-color: #B0B3B9;
  
}

.box-form .right .login-btn {
margin: auto;
  color: rgb(255, 255, 255);
  padding: 12px 85px;
  font-size: 1rem;
  cursor: pointer;
  border-style: none;
  border-radius: 3px;
  background: linear-gradient(90deg, #022f73 0%, #1da6d4 100%);
  margin-left: 0;
  width: 60%;
}

.main-signin-error-hide{
  display: none;
}

.main-signin-error-alert{
  padding: 0.2rem 0.5rem;
  color: var(--DangerColor);
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
  align-items: center;
  width: 100%;
  border: 1px solid #d2a6a6;
  align-self: flex-start;
  background-color: var(--DangerBackground);
}


/* Job Roles List Page Student*/

#student_complaints_page {
  justify-content: center;
  display: flex;
}

#student_complaints_page .complaints-quickAdd,
#student_complaints_page .complaints-list {
  background-color: white;
  width: 100%;
  margin: 2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 3rem 2rem;
}

/* #student_complaints_page .complaints-quickAdd form {
  gap: 1rem;
  margin-top: 1.5rem;
} */

.complaints-quickAdd {
  height: fit-content;
}
.complaints-quickAdd #description{
  height: 200px;
}
#student_complaints_page h3 {
  text-align: center;
}

.complaints-quickAdd label {
  display: block;
  margin-bottom: 0.5rem;
}

.complaints-quickAdd input {
  width: 50%;
}

.complaints-quickAdd button {
  width: 60%;
  margin-top: 2rem;
  padding: 0.7rem 0.9rem;
}

.complaints-list {

  overflow-y: scroll;
  overflow-x: hidden;
}

.complaints-list table {
  width: 100%;
  margin: auto;
  table-layout: fixed;
  word-wrap: normal;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  border-collapse: collapse;
}

/* .complaints-list table td:nth-child(1) {
  width: 70%;
} */

.complaints-list table td:nth-child(2),
.complaints-list table td:nth-child(3) {
  width: fit-content;
}

.complaints-list table td {
  padding: 0.3rem;
}

.complaints-list table span {
  font-size: 0.9rem;
  color: var(--LightBlue);
}

.complaints-list table a {
  display: flex;
  background-color: var(--BackgroungColor);
  padding: 0.4rem;
  border-radius: 10px;
  width: fit-content;
  justify-content: center;
}

.complaints-list table #delete {
  color: var(--DangerColor);
}



/* added later with the UIs */

/* published Advertiement list styles */

/* .......................... */

.dropdown-items{
  flex-direction: column;
    width: 60%;
    
    
  }
  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  
  /* ----------------------------------------------------------------------- */

/* ............................ */



body {
background-color: #f1f1f1;
font-family: "Poppinns", sans-serif;

}

.advertisements-view-container {
  overflow: auto;
  height: 100%;
}

.published-ad-list-top {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  width: 65%;
  margin: auto;
  margin-top: 0px;
}

.published-ad-list-flex-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.published-ad-list-headingfloat {
  background-color: #f1f1f1;
  padding: 0px;
  margin: auto;
  width: 65%;
}

.published-ad-list-secheading {
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-top: 10px;
  margin: auto;
  width: 68%;
  }


.published-ad-list-flex-wrap { 
  display: flex; 
}

.published-ad-list-flex-wrap > * {
  box-sizing: border-box;
  width: 50%; 
  background: #f1f1f1;
  
}

.published-ad-list-flex-wrap2 { 
  display: flex; 
  flex-direction: row;
  width: 100%;
  padding-bottom: 1rem;
}

.published-ad-list-heading {
  display: flex;
  width: 50%;
}

.published-ad-list-dropdown-section {
  display: flex;
  width: 50%;
}

.published-ad-list-container {
  display:flex;
  width: 30%;
}

.published-ad-list-container input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}
::placeholder {
  font-family: "Open Sans", sans-serif;
}

.published-ad-list-ad-table {
  border-collapse: collapse;
  width: 100%;
}

.published-ad-list-ad-table td {
  text-align: center;
  padding: 4px;
}

.published-ad-list-ad-table th {
  text-align:center;
  padding: 8px;
  background-color: #f1f1f1;
}

.published-ad-list-ad-table button {
 
  color: #f86808;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 12px 40px;
  border-radius: 5px;
  border-color: #f86808;
  display: inline-block;
  border: 1;

}

/* .search-container {
  float: right;
  position: absolute;
  top: 355px;
  left: 575px;
}

.search-container input[type=text] {
  padding: 3px;
  margin-top: 8px;
  font-size: 10px;
  border: none;
} */

.published-ad-list-search-btn {
  float: left;
  padding: 12px;
  background: #ddd;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.published-ad-list-search-btn:hover {
  background: rgb(255, 255, 255);
}

.published-ad-list-dropbtn {
  background-color: #f86808;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.published-ad-list-dropbtn:hover, .published-ad-list-dropbtn:focus {
  background-color: #ddd;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.published-ad-list-dropdown {
  position: relative;
  display: inline-block;
}

.published-ad-list-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.published-ad-list-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.published-ad-list-dropdown a:hover {background-color: #ddd;}

.show {display: block;}



/* viewCompanies Styles */

body {
background-color: #f1f1f1;
font-family: "Poppinns", sans-serif;
}

.view-companies-top {
background-color: rgb(255, 255, 255);
padding: 30px;
width: 55%;
margin-left: 10%;
}

.view-companies-flex-container {
  background-color: rgb(255, 255, 255);
/* display: flex;

align-items: center;
flex-direction: column; */
height: 100%;
}

.view-companies-flex-wrap { 
display: flex; 
width: 100%;
flex-direction: row;
}

.view-companies-heading {
display:flex;
width: 50%;
}

.view-companies-search {
display: flex;
width: 50%;
align-items: center;
justify-content: right;
}

.view-companies-search-container {
display: flex;
align-items: center;
justify-content: center;
width: 50%;
}


.view-companies-search-container input[type=text], select, textarea {
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
width: 100%;


}
::placeholder {
font-family: "Open Sans", sans-serif;

}

.view-companies-table button {

color: #f86808;
font-size: 16px;
padding: 12px 40px;
border-radius: 5px;
border-color: #f86808;
display: inline-block;
border: 1;

}

.view-companies-table {
border-collapse: collapse;
width: 100%;
}

.view-companies-table-data {
text-align: center;
padding: 4px;
}

.view-companies-table-header {
text-align:center;
padding: 8px;
background-color: #f1f1f1;
}

.view-companies-search-btn {
padding: 12px;
background: #ddd;
font-size: 1rem;
border: none;
cursor: pointer;
color: #f86808;
display: inline-block;
}
.view-companies-search-btn:hover {
background: rgb(255, 255, 255);
}

/* view ads styles */

body {
background-color: #f1f1f1;
font-family: "Poppinns", sans-serif;
}

.view-ads-top {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  width: 55%;
  margin-left: 10%;
}

.view-ads-flex-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.view-ads-flex-wrap { 
  display: flex; 
  width: 100%;
  flex-direction: row;
}

.view-ads-heading {
  display:flex;
  width: 50%;
}

.view-ads-search {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: right;
}

.view-ads-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}


.view-ads-search-container input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;

  
}
::placeholder {
  font-family: "Open Sans", sans-serif;

}

.view-ads-table button {
 
  color: #f86808;
  font-size: 16px;
  padding: 12px 40px;
  border-radius: 5px;
  border-color: #f86808;
  display: inline-block;
  border: 1;

}

.view-ads-table {
  border-collapse: collapse;
  width: 100%;
}

.view-ads-table-data {
  text-align: center;
  padding: 4px;
}

.view-ads-table-header {
  text-align:center;
  padding: 8px;
  background-color: #f1f1f1;
}

.view-ads-search-btn {
  padding: 12px;
  background: #ddd;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: #f86808;
  display: inline-block;
}
.view-ads-search-btn:hover {
  background: rgb(255, 255, 255);
}

/* applied companies styles */

body {
background-color: #f1f1f1;
font-family: "Poppinns", sans-serif;
}

.applied-companies-top {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  width: 80%;
  margin: auto;
}

.applied-companies-flex-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  flex-direction: column;
  height: 500px;
}


.applied-companies-statusbtn {
 
  margin: auto;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  font-size: 1rem;
  border-style: none;
  border-radius: 3px;
  background: linear-gradient(90deg, #022f73 0%, #1da6d4 100%);
  margin-left: 0;
  width: 60%;
}



.applied-companies-table {
  border-collapse: collapse;
  width: 100%;
}

.applied-companies-table td {
  text-align: center;
  padding: 8px;
}

.applied-companies-table th {
  text-align:center;
  padding: 8px;
  background-color: #f1f1f1;
}

/* dashboard styles */

.dashboard-top {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  width: 70%;
  margin: 2rem auto;
}

.dashboard-flex-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  flex-direction: row;
}

.dashboard-textarea {
  padding: 30px;
  width: 80%;
  height: 60%;
  margin: auto;
}

.dashboard-btnarea {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  width: 80%;
  height: 60%;
  margin-left: 20%;
}

.dashboard-statusbtn {
 
  margin: auto;
  color: rgb(255, 255, 255);
  padding: 8px 5px;
  font-size: 1rem;
  border-style: none;
  background-color:rgb(22, 128, 27); 
  margin-left: 0;
  width: 30%;
}

.dashboard-profile-view-btn {
 
  margin: auto;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-style: none;
  border-radius: 3px;
  background: linear-gradient(90deg, #022f73 0%, #1da6d4 100%);
  margin-left: 0;
  width: 60%;
}

.dashboard-top h3 {
  color: #022f73;
}

.dashboard-bottom-strip {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  width: 40%;
  margin-left: 15%;
  gap: 4rem;
  height: 3.5rem;
  
}

.bottom-strip-blue-line {
  background-color: #022f73;
}

.bottom-strip-blue-line p {
  color: #022f73;
}

.bottom-strip-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-strip-description p {
  color: #022f73;
}

.bottom-strip-number {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-strip-number {
  color: #022f73;
}

.bottom-strip-button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-style: none;
  border-radius: 3px;
  background: linear-gradient(90deg, #022f73 0%, #1da6d4 100%);
  margin-right: 1rem;
  width: 30%;
}

/* CV status styles */

body {
background-color: #f1f1f1;
font-family: "Poppinns", sans-serif;
}

.cv-status-top {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  width: 45%;
  margin-left: 5rem;
  margin-top: 5rem;
}

.cv-status-flex-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.cv-status-flex-wrap2 { 
  display: flex; 
  width: 100%;
}

.cv-status-flex-wrap2 > * {
  box-sizing: border-box;
  width: 50%; 
  background: rgb(255, 255, 255);
}

.cv-status-flex-wrap3 {
  box-sizing: border-box;
  width: 100%;
  height: 25rem; 
  background: #f1f1f1;
}

.cv-status-input-field {
  margin-top: 3rem;
  margin-left: 2rem;
}

.cv-status-myCV {
  background-color: #D9D9D9;
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  padding: 2rem;
}

.cv-status-cv-submit-button {
  color: #ffffff;
  background-color: #158811;
  font-size: 16px;
  padding: 6px 50px;
  border-radius: 0px;
  display: inline-block;
  cursor: pointer;
  border: none;
}

/* Company profile */

body {
background-color: #f1f1f1;
font-family: "Poppinns", sans-serif;
}

.company-profile-top {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  margin-left: 5rem;
  margin-top: 5rem;
  margin-right: 5rem;
}

.company-profile-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.company-profile-flex-wrap2 { 
  display: flex; 
  width: 100%;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.company-profile-details-container {
  display: flex;
  width: 100%;
  margin-left: 2rem;
}

.company-profile-logo {
  display: flex;
}

.company-profile-description {
  display: flex;
  flex-direction: column;

}
.company-profile-logo-icon {
  border-radius: 100%;
  width: 20rem;
  height: auto;
  border: 1px solid #ebe8e8;
}

.company-profile-bottom {
  background-color:#054A91;
  padding: 30px;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  gap: 6rem;
}

.company-technologies {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  margin-left: 2rem;
  width: 100%;
}

.company-contact {
  display: flex;
  background-color:chartreuse;
}

.technologies-btn {
  margin: auto;
  color: #054A91;
  padding: 8px 5px;
  font-size: 1rem;
  border-style: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 25%;
}


.visit-web-btn {
  margin: auto;
  color:darkorange;
  padding: 9px 20px;
  font-size: 1rem;
  border-style: none;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  margin-left: 0;
  margin-bottom: 1rem;
  width: 30%;
  cursor: pointer;
}

.company-contact-area {
  width: 100%;
}

.view-ads-btn {
  margin: auto;
  color:rgb(255, 255, 255);
  padding: 9px 20px;
  font-size: 1rem;
  border-style: none;
  border-radius: 3px;
  background-color: #158811;
  margin-left: 0;
  margin-bottom: 1rem;
  width: 40%;
  cursor: pointer;
}

/* advertisement list styles */

body {
background-color: #f1f1f1;
font-family: "Poppinns", sans-serif;
}

.ad-list-top {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  width: 80%;
  margin: auto;
}

.ad-list-flex-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  flex-direction: column;
  height: 500px;
}


.ad-list-table button {
  margin: auto;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  font-size: 1rem;
  border-style: none;
  border-radius: 3px;
  background: linear-gradient(90deg, #022f73 0%, #1da6d4 100%);
  margin-left: 0;
  width: 60%;
}

.ad-list-table {
  border-collapse: collapse;
  width: 100%;
}

.ad-list-table td {
  text-align: center;
  padding: 8px;
}

.ad-list-table th {
  text-align:center;
  padding: 8px;
  background-color: #f1f1f1;
}

/* schedule ad styles */

  body {
    background-color: #f1f1f1;
    font-family: "Poppinns", sans-serif;
  }
  
  .schedule-ad-top {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 80%;
    margin: auto;
  }
  
  .schedule-ad-flex-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    height: 500px;
  }

  .schedule-ad-form {
    padding: 30px;
  }


/* view ad styles */
.view-advertisement-container {
  overflow: auto;
  height: 100%;
}


.view-ad-top {
background-color: rgb(255, 255, 255);
padding: 30px;
width: 65%;
margin: auto;
margin-top: 3rem;
}

.view-ad-flex-wrap2 { 
display: flex; 
width: 100%;
}

.view-ad-flex-container {
display: flex;
background-color: rgb(255, 255, 255);
align-items: center;
flex-direction: column;
height: 100%;
}

.view-ad-basic-details-row {
width: 50%; 
} 

.basic-details {
border-spacing: 0.5rem;
width: 90%;
padding: 0.5rem;
}

.ad-data {
background-color:#f1f1f1;
padding: 0.5rem;
}

.view-ad-descriptions{
display: flex;
gap: 1rem;
}

.view-ad-requirements {
background-color: #f1f1f1;
display: flex;
}

.view-ad-section{
width: 50%;
}

.view-ad-apply-button {
margin-top: 1rem;
color: #ffffff;
background-color: #158811;
font-size: 16px;
padding: 6px 50px;
border-radius: 0px;
display: inline-block;
cursor: pointer;
border: none;
}

/* job roles styles */

body {
background-color: #f1f1f1;
font-family: "Poppinns", sans-serif;
}

.job-roles-top {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  width: 35%;
  margin-left: 4rem;
  margin-top: 4rem;
}

.job-roles-flex-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.job-roles-flex-wrap2 { 
  display: flex; 
  width: 100%;
}

.job-roles-flex-wrap2 > * {
  box-sizing: border-box;
  width: 50%; 
  background: rgb(255, 255, 255);
}

.job-roles-flex-wrap3 {
  box-sizing: border-box;
  width: 100%;
  height: 100%; 
  background: #f1f1f1;
}

.job-roles-select-data {
  border-collapse: collapse;
width: 100%;
}

.job-role-table-name {
  padding: 0.8rem;
}

.job-role-table-submit {
  text-align: center;
  padding: 4px;
}

.job-role-table-header-name {
  text-align:left;
  padding: 0.8rem;
  background-color: #f1f1f1;
}

.job-role-table-header-select {
  text-align:center;
  padding: 0.8rem;
  background-color: #f1f1f1;
}

.job-role-submit-button {
margin-left: 12rem;
margin-top: 1rem;
margin-bottom: 1rem;
color: rgb(255, 255, 255);
background: linear-gradient(90deg, #022f73 0%, #1da6d4 100%);
font-size: 1rem;
padding: 6px 25px;
border-radius: 3px;
border-style: none;
display: inline-block;
cursor: pointer;
border: none;
}

/* edit profile styles */

.edit-profile-top {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  width: 80%;
  height: 100%;
  margin: auto;
  overflow: auto;
}

/*advertisement list UI - Namadee */


.common_list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.common_list_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-bottom: 2rem;
}

.common-list-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin: 1rem;
}

.advertisement-list-topbar .search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 15rem;
  border: 1px solid var(--backgrund-color);
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  color: var(--primary-color-1);
}

.advertisement-list-topbar .search-bar input {
  border: none;
  width: 100%;
  padding: 0.5rem;
}

.common-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 7rem;
  color: var(--primary-color-1);
}

.common-filter select {
  border: 1px solid var(--backgrund-color);
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.common-list-topbar .material-symbols-rounded {
  fill: 1;
  color: #f17300;
}
.common-list-topbar .material-symbols-rounded {
  fill: 1;
  color: #f17300;
}

.common_list_content {
  width: 100%;
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;
}

.common_list_content table {
  font-size: 0.9rem;
  width: 90%;
  margin-left: 3rem;
  text-align: center;
  table-layout: fixed;
  word-wrap: normal;
}

.common_list_content table th {
  /* height: 2rem;
  background-color: #d9d9d9;
  padding: 0.5rem; */

  padding: 0.4rem;
  background-color: var(--BackgroungColor);
  border-radius: 0.3rem;
  font-weight: 500;
}

.common_list_content table td {
  padding: 0.3rem;
}

.advertisement-status{
  width: 8rem;
    margin: auto;

}

.jobrole-popup{
  background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 1rem;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.jobrole-popup .common-blue-btn{
  padding: 0.2rem 1rem;
  margin-left:3rem;
}

.arrow-btn{
  margin: auto;
}