/* Sign in Page - PDC*/

.signin-main-container {
  margin: auto;
  margin-top: 5%;
  width: 30%;
  gap: 1rem;
  padding: 3% 3% 4% 3%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid var(--DarkBlue);
  align-items: center;
}

.signin-main-container img {
  width: 50%;
  object-fit: cover;
}

.signin-main-container form {
  gap: 1.5rem;
  justify-content: space-around;
  width: 100%;
  padding: 0 8%;
  text-align: left;
  align-items: center;
}

.signin-main-container form h2 {
  color: var(--DarkBlue);
}

.signin-form-content {
  flex-direction: row;
  gap: 0.2rem;
  border: 1px solid var(--AlternateLightGrey);
  width: 100%;
  padding: 0.3rem;
  border-radius: 5px;
  align-items: center;
}

.signin-main-container form input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.signin-main-container form button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 20px;
  transition: ease-in-out 0.2s;
  font-size: 1rem;
}

.signin-main-container form button:hover {
  transform: scale(1.02);
}

.signin-error-hide {
  display: none;
}

.signin-error-alert {
  color: var(--DangerColor);
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
  align-items: center;
  width: fit-content;
  align-self: flex-start;
  margin-top: -1rem;
}

/* Job Roles List Page PDC*/

#pdc_jobroles_page {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

#pdc_jobroles_page .jobroles-quickAdd,
#pdc_jobroles_page .jobroles-rolesList {
  background-color: white;
  width: 40%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 3rem 2rem;
}

#pdc_jobroles_page .jobroles-quickAdd form {
  gap: 1rem;
  margin-top: 1.5rem;
}

.jobroles-quickAdd {
  gap: 2.5rem;
  height: fit-content;
}

#pdc_jobroles_page h3 {
  text-align: center;
}

.jobroles-quickAdd label {
  display: block;
  margin-bottom: 0.5rem;
}

.jobroles-quickAdd input {
  width: 100%;
}

.jobroles-quickAdd button {
  width: 60%;
  margin-top: 2rem;
  padding: 0.7rem 0.9rem;
}

.jobroles-rolesList {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.jobroles-rolesList table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  border-collapse: collapse;
}

.jobroles-rolesList table td:nth-child(1) {
  width: 70%;
}

.jobroles-rolesList table td:nth-child(2),
.jobroles-rolesList table td:nth-child(3) {
  width: fit-content;
}

.jobroles-rolesList table td {
  padding: 0.3rem;
}

.jobroles-rolesList table span {
  font-size: 0.9rem;
  color: var(--LightBlue);
}

.jobroles-rolesList table a {
  display: flex;
  background-color: var(--BackgroungColor);
  padding: 0.4rem;
  border-radius: 10px;
  width: fit-content;
  justify-content: center;
}

.jobroles-rolesList table #delete {
  color: var(--DangerColor);
}

/* HOME PAGE - SELECT USERS*/

.home-user-container {
  display: flex;
  margin: auto;
  border-radius: 10px;
  background-color: var(--BackgroungColor);
  width: 60%;
  height: 80vh;
  margin-top: 3rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-user-img {
  width: 60%;
}

.home-user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-select-user {
  width: 40%;
  background-color: var(--Black);
  color: white;
  padding: 2rem;
  gap: 2rem;
}

.home-select-user h1 {
  text-align: center;
  color: var(--primaryColor);
  font-size: 2rem;
}

.home-user-list {
  gap: 1.5rem;
  align-items: center;
}

.home-user-list li {
  color: white;
  padding: 1rem 1rem;
  gap: 0.5rem;
  background: var(--Black);
  border: 1px solid var(--primaryColor);
  width: 70%;
  border-radius: 10px;
  box-shadow: var(--primaryColor) 0px 2px 2px;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}

.home-user-list li a {
  color: var(--BackgroungColor);
  gap: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.home-user-list li:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

/* TEMPERARY REGISTER PAGE - ADD USERS*/
#register-main-container {
  height: 90vh;
  margin-top: 2rem;
  padding: 1rem;
}
.register-user-form {
  width: 40%;
  padding: 1rem;
}

.register-user-form h2 {
  color: var(--DarkBlue);
  text-align: center;
  margin-bottom: 1.2rem;
}

.register-user-form button {
  padding: 0.5rem 2rem;
  margin: 0;
  margin: 1rem 0;
  width: 100%;
}

.register-user-form .common-input {
  width: 100%;
  padding: 0.2rem 0.6rem;
}

.register-user-form a {
  font-size: 0.9rem;
  color: var(--LightBlue);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

/*Sign In page company*/

.loginContainer {
  margin: auto;
  margin-top: 2rem;
  width: 50%;
  height: 80vh;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loginContainer form {
  gap: 1rem;
  width: 70%;
}

.leftBox {
  width: 50%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftBox h1 {
  color: var(--primaryColor);
  margin-bottom: 10%;
}

.leftBox form a {
  color: var(--primaryColor);
  text-align: center;
  font-size: 0.9rem;
}

.rightBox {
  width: 50%;
  background: var(--Black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.rightBox h1 {
  color: var(--primaryColor);
  font-size: 2.5rem;
  font-weight: 500;
}

.rightBox p {
  color: var(--primaryColor);
}

.rightBox img {
  width: 70%;
  max-width: 500px;
}

#loginForm input[type="submit"] {
  color: var(--primaryColor);
  padding: 0.5rem 1rem;
  width: 80%;
  background: #fff;
  margin: auto;
  background-color: var(--Black);
  border-radius: 20px;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  transition: ease-in-out 300ms;
  margin-top: 2rem;
  
}

#loginForm input[type="submit"]:hover {
  background-color: rgb(62, 62, 62);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-signin-error-hide{
  display: none;
}

.main-signin-error-alert{
  padding: 0.2rem 0.5rem;
  color: var(--DangerColor);
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
  align-items: center;
  width: 100%;
  border: 1px solid #d2a6a6;
  align-self: flex-start;
  background-color: var(--DangerBackground);
}

/* COMPANY - ADVERTISEMENTS*/

.advertisement_list {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advertisement_list_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-bottom: 2rem;
}

.advertisement-list-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 15rem;
  border: 1px solid var(--backgrund-color);
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  color: var(--primary-color-1);
}

.search-bar input {
  border: none;
  width: 100%;
  padding: 0.5rem;
}

.advertisement-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 7rem;
  color: var(--primary-color-1);
}

.advertisement-filter select {
  border: 1px solid var(--backgrund-color);
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.material-symbols-outlined {
  fill: 1;
  color: #f17300;
}
.advertisement-list-topbar .material-symbols-rounded {
  fill: 1;
  color: #f17300;
}

.advertisement_list_content {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
}

.advertisement_list_content h3 {
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.advertisement_list_content table {
  width: 90%;
  margin-left: 3rem;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word; /*To keep the layout fixed with any number of word count*/
}

.advertisement_list_content table th {
  height: 2rem;
  background-color: #d9d9d9;
  padding: 0.5rem;
}

.advertisement_list_content table td {
  padding: 0.3rem;
}

.advertisement_list_content table th:nth-child(1) {
  width: 40%;
}

.advertisement_list_content table th:nth-child(3) {
  width: 20%;
}

.viewBtn {
  padding: 0.2rem 1rem;
  background-color: transparent;
  border-radius: 5px;
  border: solid 1px var(--primaryColor);
  color: var(--primaryColor);
}

.viewBtn:hover {
  background-color: var(--primaryColor);
  cursor: pointer;
  color: #fff;
}
.deleteBtn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.addBtn {
  color: #fff;
  background-repeat: no-repeat;
  background: linear-gradient(
    90deg,
    rgba(62, 124, 177, 1) 0%,
    rgba(5, 74, 145, 1) 100%
  );
  border-radius: 5px;
  cursor: pointer;
}
.addBtn a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addBtn button {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addBtn .material-symbols-outlined {
  color: #fff;
}
#addIcon {
  color: #fff;
  margin-right: 0.5rem;
  /* background-color: transparent; */
}

/*end of advertisement page*/

/*start of add advertisement page*/

#add_Advertisement_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add_advertisement {
  /* width: 100%; */
  /* display: block; */
  text-align: center;
  width: 60%;
}
.add_advertisement form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* display: inline-block; */
  padding: 3rem;
  border-radius: 8px;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: left;
}
.add_advertisement form input,
.add_advertisement form select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--AlternateLightGrey);
  width: 70%;
}

.add_advertisement form input[type="checkbox"] {
  border: 1px solid var(--AlternateLightGrey);
}

.add_advertisement .time_period {
  display: flex;
  gap: 2rem;
}

.add_advertisement .addAdvertisement-items ul li input {
  width: auto;
}
.add_advertisement .addAdvertisement-items ul li {
  display: flex;
  gap: 1rem;
}

.add_advertisement .addBtn {
  margin: auto;
  margin-top: 1rem;
}

.add_advertisement .addAdvertisement-items {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  gap: 0.5rem;
}

.add_advertisement form h3 {
  margin-bottom: 1rem;
  text-align: center;
  color: #054a91;
}
